<div id="right-inner">
  <h2>Important dates</h2>
  <p><ul>
    <li>Wednesday, Jul. 21: Registrations Open</li>
    <li>Sunday, Aug. 15: Abstract Submissions Begin</li>
    <li>Thursday, Sept. 30: Abstracts Due</li>
    <li>Friday, Oct. 15: Accepted Talks Announced</li>
    <li>Saturday, Oct. 16: Preference of slots for accepted papers</li>
    <li>Friday, Oct. 29: Slot preference deadline</li>
    <li>Saturday, Oct. 30: Tentative schedule announced</li>
    <li>Saturday, Nov. 30: Proceedings paper submission due</li>
    <li>Monday-Tuesday, Dec. 13-14: Conference</li>
    <li>Wednesday-Friday, Dec. 15-17: Tutorials/Sprints</li>
    <li>Saturday, Dec. 18: Sprints</li>
  </ul></p>

  <h2>Organizers</h2>
  <p><ul>
    <li><a href='http://www.jarrodmillman.com/'>Jarrod Millman</a>, Neuroscience Institute, UC Berkeley (USA)(Conference Co-Chair)</li>
    <li><a href='http://www.aero.iitb.ac.in/~prabhu'>Prabhu Ramachandran</a>, Department of Aerospace Engineering,
IIT Bombay, India (Conference Co-Chair)</li>
    <li><a href='http://fossee.in/'>FOSSEE Team</a></li>
    <li><a href="http://www.iiit.ac.in/">IIIT Hyderabad </a></li>
  </ul></p>
  <h2>Sponsors</h2>
  <p><ul>
    <li><img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" />
    <a href="http://www.sakshat.ac.in/">
    National Mission on Education (NME)</a> through Information and
    Communication Technologies (ICT), Government of India</li>
  </ul></p>

</div>
