<div id="right-inner">
  <h2>Organizers</h2>
  <p><ul>
    <li><a href='http://www.jarrodmillman.com/'>Jarrod Millman</a>, Neuroscience Institute, UC Berkeley (USA)(Conference Co-Chair)</li>
    <li><a href='http://www.aero.iitb.ac.in/~prabhu'>Prabhu Ramachandran</a>, Department of Aerospace Engineering,
IIT Bombay, India (Conference Co-Chair)</li>
    <li><img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" />
    <a href="http://fossee.in/">
    FOSSEE Team</a></li>
    <li><img src="/static/img/enhanceedu_logo.png" alt="IIIT-H Logo"
    title="IIIT-H Logo" height="150" /><br/>
    <a href="http://www.iiit.ac.in/">
    EnhanceEdu, IIIT - Hyderabad</a></li>
  </ul></p>
  <h2>Sponsors</h2>
  <p><ul>
    <li><img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" />
    <a href="http://www.sakshat.ac.in/">
    National Mission on Education (NME)</a> through Information and
    Communication Technologies (ICT), Government of India</li>
    <li><img src="/static/img/enthought_logo.png" alt="Enthought Logo"
    title="Enthought Logo" width=260/><br/>
    <a href="http://www.enthought.com/">
    Enthought, Inc.</a></li>
    <li><img src="/static/img/python_logo.gif" alt="PSF Logo"
    title="PSF Logo" width=260/><br/>
    <a href="http://www.python.org/psf/">
    Python Software Foundation</a></li>
    <li><img src="/static/img/enhanceedu_logo.png" alt="IIIT-H Logo"
    title="IIIT-H Logo" height="150" /><br/>
    <a href="http://www.iiit.ac.in/">
    EnhanceEdu, IIIT - Hyderabad</a></li>
  </ul></p>
  <h2>Venue Sponsors</h2>
  <p><ul>
    <li><a href="http://www.isb.edu/">
    <img src="/static/img/isb_logo.gif"
    alt="Indian School of Business Logo"
    title="Indian School of Business" /><br /></a></li>
    <br />
    <li><a href="http://www.mahindrasatyam.com/">
    <img src="/static/img/mahindra_satyam_logo.jpg"
    alt="Mahindra Satyam Logo"
    title="Mahindra Satyam Logo" height=23 width="260" /></a></li>
    <br />
    <li><a href="http://www.iiit.ac.in/">
    <img src="/static/img/iiith_logo.gif" alt="IIIT-H Logo"
    title="IIIT-H Logo" height="108" /><br/>
    <a href="http://www.iiit.ac.in/"></a></li>
  </ul></p>
</div>
