<div id="right-inner">
  <h2>Important dates</h2>
  <p><ul>
    <li>Wednesday, Nov. 10: Abstracts Due</li>
    <li>Monday, Nov. 15: Schedule announced
    <li>Sunday, Dec. 05: Proceedings paper submission due
    <li>Monday-Tuesday, Dec. 13-14: Conference
    <li>Wednesday-Friday, Dec. 15-17: Tutorials/Sprints
    <li>Saturday, Dec. 18: Sprints
  </ul></p>

  <h2>Organizers</h2>
  <p><ul>
    <li><a href='http://www.jarrodmillman.com/'>Jarrod Millman</a>, Neuroscience Institute, UC Berkeley (USA)(Conference Co-Chair)</li>
    <li><a href='http://www.aero.iitb.ac.in/~prabhu'>Prabhu Ramachandran</a>, Department of Aerospace Engineering,
IIT Bombay, India (Conference Co-Chair)</li>
    <li><a href='http://fossee.in/'>FOSSEE Team</a></li>
    <li><a href="http://www.iiit.ac.in/">IIIT Hyderabad </a></li>
  </ul></p>
  <h2>Sponsors</h2>
  <p><ul>
    <li><img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" />
    <a href="http://www.sakshat.ac.in/">
    National Mission on Education (NME)</a> through Information and
    Communication Technologies (ICT), Government of India</li>
  </ul></p>

</div>
