<div id="right-inner">
  <h2>Important dates</h2>
  <p><ul>
    <li>Friday, Nov. 20: Abstracts Due</li>
    <li>Friday, Nov. 27: Announce accepted talks, post schedule</li>
    <li>Saturday-Sunday, Dec. 12-13 Conference</li>
    <li>Monday-Tuesday, Dec. 14-15 Tutorials</li>
    <li>Wednesday-Thursday, Dec. 16-17 Sprints</li>
  </ul></p>

  <h2>Organizers</h2>
  <p><ul>
    <li><a href='http://www.jarrodmillman.com/'>Jarrod Millman</a>, Neuroscience Institute, UC Berkeley (USA)(Conference Co-Chair)</li>
    <li><a href='http://www.aero.iitb.ac.in/~prabhu'>Prabhu Ramachandran</a>, Department of Aerospace Engineering,
IIT Bombay, India (Conference Co-Chair)</li>
    <li><a href='http://fossee.in/'>FOSSEE Team</a></li>
  </ul></p>
  <h2>Sponsors</h2>
  <p><ul>
    <li><a href="http://www.sakshat.ac.in/">
    National Mission on Education (NME)</a> through Information and
    Communication Technologies (ICT), Government of India</li>
    <li><a href="http://space-kerala.org/">SPACE-Kerala </a>
    <a href="http://www.itmission.kerala.gov.in/"></li>
    <li><a href='http://www.itmission.kerala.gov.in'>Kerala State IT Mission(KSITM)</a></li>
    <li><a href='http://csi-india.org'>SIG-FOSS Of CSI</a></li>
  </ul></p>

</div>
