<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %} SciPy.in 2010, December 13 - 18, 2010, Hyderabad, Andra Pradesh, India</title>

  <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.jgrowl.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/styles-20090826.css" />

  <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.jgrowl_minimized.js"></script>
  <script type="text/javascript" src="/static/jquery/jquery.cookie.pack.js"></script>
  <script type="text/javascript" src="/static/js/kiwipycon.js"></script>

  {% block addscripts %}{% endblock %}

  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

  <!--<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/blog" />-->

</head>
<body>

<div id="logo">
  <a href="/"><img src="/static/img/scipyshiny_small.png"
    alt="SciPy.in Logo" title="SciPy.in Logo"
    width="139" height="130" /></a>
</div>

<div id="header">
  <h1>{% block header %}SciPy.in 2010</h1>
  <h3>December 13 - 18, IIIT-Hyderabad, India{% endblock %}</h3>
  {% include '_menu_user.html' %}
</div>

<div id="wrapper">
  <div id="left">
  {% include '_menu.html' %}
  </div>
  <div id="content">
  {% if user.is_authenticated %}
      {% include 'user/_usermenu.html' %}
  {% endif %}

    {% block content %}{% endblock %}
  </div>
  <div id="right">
  {% include '_right_menu.html' %}
  </div>
</div>

<div id="footer">
   <p rel="credits">Content by the <a href="/about/team/" alt="SciPy.in Team">SciPy.in Team</a>,
   website by <a href="http://bitbucket.org/vshivak/kiwipycon/src/tip/AUTHORS" alt="Website's Creators">Kiwi Djangonauts</a>,
   hosting by <a href="http://fossee.in/" alt="Free and Open Source software in Science and Engineering Education">Free and Open Source software in Science and Engineering Education</a>,
   <!-- TODO: logo design by Jason Nielsen--></p>
</div>

</body>
</html>
