{% extends "base.html" %}

{% block content %}
<h1>Scope of the conference</h1>
<div class="entry">
  <p><strong>Scipy.in </strong>is a conference providing opportunities to 
spread the use of the Python programming language in the Scientific Computing
community in India. It provides a unique opportunity to interact with the
"Who's who" of the Python for Scientific Computing fraternity and learn,
understand, participate and contribute what is happening in the realms of
Scientific Computing using Python. Attendees of the conference and participants
of the sprints planned will be able to access and review the tools available,
apart from learning domain-specific applications and how the tools apply to a
plethora of application problems.<br>

One of the goals of the conference is to combine education, engineering and
science with computing through the medium of Python and thereby extrapolate on
how powerful Scientific Computing is in various fields and among different
communities.
  </p>			
</div>
<h1>Theme</h1>
<div class="entry">
  <p>Theme for Conference talks - <strong>"Scientific Python in Action"</strong>
with respect to Application and Teaching</p>
</div>
{% endblock content %}
