{% extends "base.html" %}

{% block content %}
<h1>Python for Education and Scientific Computing</h1>
<div class="entry">
<p>Python is an interpreted, interactive, object-oriented, open source,
extensible programming language. It combines clarity and readability,
making it an extremely powerful language that can be used for various
applications and problems.</p>

<p>Python is simple and easy to learn and apply.  It offers an interactive
environment in which to explore procedural, functional and object
oriented approaches to problem solving. Its high level data structures,
extensive documentation and clear syntax make it an ideal first
language, while the large number of existing libraries make it suitable
to tackle almost any programming tasks. Its simplicity makes it easy to
adapt to multiple educational domains.</p>

<p>Python has several libraries that enable numeric and symbolic computing.
It also interfaces well with native codes in C,C++ and FORTRAN and has
excellent libraries for plotting/visualization. Python also provides
libraries for general purpose computing including generating user
interfaces and web development. These coupled with it's interactive
interpreter make Python an excellent language for Scientific Computing.</p>

<p>All these features when combined with their wide-ranging applications
make Python a perfect fit for use in Education, Industry and Scientific
Computing.</p>

<h1>Why Python?</h1>

<p>
<video
  src="http://fossee.in/sitefiles/Videos/why_python_short.ogv"
  width=50%
  height=50%
  controls>
  Your Browser does not support the video tag, upgrade to Firefox 3.5+
</video>
</p>
<p>
<a href="http://fossee.in/sitefiles/Videos/why_python_short.ogv">Download video (14 min - short version)</a> | <a href="http://fossee.in/sitefiles/Videos/why_python.ogv">Download video (41 min - long version)</a>
</p>

<h1>Scope of the conference</h1>
  <p><strong>Scipy.in </strong>is a conference providing opportunities to 
spread the use of the Python programming language in the Scientific Computing
community in India. It provides a unique opportunity to interact with the
"Who's who" of the Python for Scientific Computing fraternity and learn,
understand, participate, and contribute to Scientific Computing using Python.
Attendees of the conference and participants of the sprints planned will be
able to access and review the tools available. They will also be able to
learn domain-specific applications and how the tools apply to a plethora
of application problems.<br></p>

   <p>One of the goals of the conference is to combine education, engineering,
and science with computing through the medium of Python. This conference also
aims to spread the use of Python for Scientific Computing in various fields
and among different communities.
  </p>
</div>
{% endblock content %}
