{% extends "base.html" %}

{% block title %}Manage Payments - {% endblock %}

{% block addscripts %}
  <script type="text/javascript">

  $(document).ready(function(){
    {% for registrant in registrants %}
      $("#date_id_{{ registrant.registrant.id }}").datepicker();
    {% endfor %}
    
  });

  </script>
{% endblock addscripts %}

{% block content %}
<h1>Manage Payments</h1>

<form action="" method="post">

  <fieldset>
    <legend>Payment Details</legend>
    <table class="scipycon-default">
      <tr>
        <th>Full Name</th>
        <th>Reg. Confirmed</th>
        <th>Accommodation. Confirmed</th>
        <th>Date of Payment</th>
        <th>Payment Mode</th>
        <th>Details</th>
      </tr>
      {% for registrant in registrants %}
      <tr class="{% cycle odd,even %}">
        <th>
          <label
          {% if registrant.registrant.payment_set.get.type or registrant.registrant.payment_set.get.details %}
          {% if not registrant.registrant.payment_set.get.confirmed %}
          class="alert"
          {% endif %}
          {% endif %}
          for="id_{{ registrant.registrant.id }}_label">
            {{ registrant.registrant.get_full_name }}
          </label>
        </th>
        <td>
          {{ field.errors }}
          <input id="confirmed_id_{{ registrant.registrant.id }}"
          name="confirmed_id_{{ registrant.registrant.id }}"
          type="checkbox" name="registration_confirmed"
          {% if registrant.registrant.payment_set.get.confirmed %}
          checked=checked
          {% endif %}
          /><br />
        </td>
        <td>
          {{ field.errors }}
          <input id="acco_id_{{ registrant.registrant.id }}"
          name="acco_id_{{ registrant.registrant.id }}"
          type="checkbox"
          {% if registrant.registrant.payment_set.get.acco_confirmed %}
          checked=checked
          {% endif %}
          /><br />
        </td>
        <td>
          {{ field.errors }}
          <input id="date_id_{{ registrant.registrant.id }}"
          name="date_id_{{ registrant.registrant.id }}"
          type="text"
          {% if registrant.registrant.payment_set.get.date_confirmed %}
          value="{{ registrant.registrant.payment_set.get.date_confirmed|date:"m/d/Y" }}"
          {% endif %}
          /><br />
        </td>
        <td>{{ registrant.registrant.payment_set.get.type }}</td>
        <td>{{ registrant.registrant.payment_set.get.details }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>
        <button class="button left" type="submit">Submit Payment Status</button>
        </th>
      </tr>
    </table>
  </fieldset>

</form>
{% endblock content %}
