{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <div class="post">
    <div class="title"><h2>{% trans "Register" %}</h2></div>
    <div id="search">
    <style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {        
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 1 3px;
        padding: 0px 45px;
    }
</style>
        <table>
          Your account has been created. An activation email will be sent
          soon to the email ID with which you registered.<br /><br />
          Please visit the link mentioned in the mail to activate your account.
        </table>
      <script type="text/javascript">
	document.getElementById('id_username').focus();
      </script>
   </div>
{% endblock %}
