{% extends "base.html" %}

{% block title %}Registration Statistics - {% endblock %}

{% block content %}
<h1>Registration Statistics</h1>

<table class="scipycon-default-border">
<tr>
 <th>Event</th>
 <th>Number of people registered</th>
</tr>
<tr>
 <td>Conference</td>
 <td>{{ conf_num }}</td>
</tr>
<tr>
 <td>Tutorials</td>
 <td>{{ tut_num }}</td>
</tr>
<tr>
 <td>Sprint</td>
 <td>{{ sprint_num }}</td>
</tr>
<tr>
 <td>Male participants requesting accommodation</td>
 <td>{{ male }}</td>
</tr>
<tr>
 <td>Female participants requesting accommodation</td>
 <td>{{ female }}</td>
</tr>
{% for acco in acco_days %}
  <tr>
   <td>Accommodation requested on {{ forloop.counter|add:"11" }}th night</td>
   <td>{{ acco.total }} (Male: {{ acco.male }} Female: {{ acco.female }})</td>
  </tr>
 {% endfor %}
</table>

<br/><br/><br/>
<strong>To download CSV Click 
<a href="{% url scipycon_regstats_download params.scope %}">here</a></strong>

{% endblock content %}
