{% extends "base.html" %}
{% block content %}
<h1>Accommodation for delegates</h1>
<p class="noindent">60 rooms have been reserved for the male students and
faculty on a triple sharing basis. So we can accommodate 180 male participants.
We also have reserved 10 rooms to female participants on twin sharing basis.
So we can accommodation 20 female participants. People who pay the accommodation
fees for the through our fees payment process will be alloted accommodation
on first-come-first-serve basis. For more details about the fees please
visit: <a href="http://scipy.in/scipyin/2010/about/fees/">
http://scipy.in/scipyin/2010/about/fees/</a>
</p>

<h1>Accommodation for speakers</h1>
<p class="noindent">We are providing accommodation on twin sharing
or triple sharing basis as per the allotment to all the speakers who
are submitting the talks. The fees for the accommodation for the
speakers have been waived off.</p>

<h1>Other possible venues for accommodation</h1>
<p class="noindent">If you are unable to secure the accommodation with us
because of the limited number of rooms we have, there are many hotels and
guest houses at Gachibowli, Hyderabad. We have mentioned a few of them
below for your reference. You can directly contact them if you need
accommodation at those places.

List of Hotels and Guest Houses close to IIIT, Hyderabad:

{% endblock content %}