{% extends "base.html" %}
{% block content %}
<h1>Accommodation for delegates</h1>
<p class="noindent">Forty rooms have been reserved for male students
and faculty on a triple sharing basis in the hostels at IIIT. In total,
we can accommodate 120 male participants. We also have reserved 10
rooms for female participants on twin sharing basis. Thus, we can
provide accommodation for 20 female participants. People who pay the
accommodation fee through our fee payment process will be allotted
accommodation on first-come-first-serve basis. Accommodation cannot
be assured if the fee is not paid by December 10th, 2010. For further
details visit: <a href="http://scipy.in/scipyin/2010/about/fees/">
http://scipy.in/scipyin/2010/about/fees/</a>
</p>


<h1>Other possible venues for accommodation</h1>
<p class="noindent">If you are unable to secure the accommodation with us,
because of the limited number of rooms we have, there are many hotels and
guest houses at Gachibowli, Hyderabad. We have mentioned a few of them
below for your reference. You can directly contact them if you need
accommodation at those places.

List of Hotels and Guest Houses close to IIIT, Hyderabad:

<table class="scipycon-default-border" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col class="right" /><col class="left" /><col class="left" />
</colgroup>
<thead>
<tr><th scope="col" class="right">Name</th><th scope="col" class="left">Type</th><th scope="col" class="left">Address</th>
</tr>
</thead>


<td><a href="http://www.istahyderabad.com" class="external free" title="http://www.istahyderabad.com" rel="nofollow">Ista</a></td><td>5 Star Facilities</td><td>
<p>Road No.2, I.T. Park

</p><p>Nanakramguda,
</p><p>GachiBowli
</p><p>Hyderabad - 500019,
</p><p>India
</p><p>Tel&nbsp;: 91-(40)-44508888
</p><p>Fax: 91-(40)-44509999
</p><p>E-mail: sales@istahyderabad.com
</p>
</td></tr>
<tr>
<td><a href="http://www.ellaasuites.com" class="external free" title="http://www.ellaasuites.com" rel="nofollow">Ella Campus</a></td><td>4 Star Facilities</td><td>
<p>Hill Ridge Springs,
</p><p>Gachibowli,

</p><p>Hyderabad,
</p><p>Andhra Pradesh - 500 032,
</p><p>India.
</p><p>Tel: +91 40 6628 8488
</p><p>Fax: +91 40 2300 2120, +91 40 6628 8477
</p><p>E-mail: reservations@ellaahotels.com
</p><p>Website: www.ellaahotels.com
</p>
</td></tr>
<tr>
<td><a href="http://www.novotelhyderabad.com" class="external free" title="http://www.novotelhyderabad.com" rel="nofollow">Novotel</a></td><td>5 Star Facilities</td><td>
<p>Novotel &amp; HICC Complex

</p><p>(Adjacent to Hitech City), P O Bag 1101
</p><p>Cyberabad Post Office
</p><p>HYDERABAD - 500081
</p><p>INDIA
</p><p>Tel&nbsp;: +91-40-66824422
</p><p>Fax&nbsp;: +91-40-66844422
</p><p>reservations@novotelhyderabad.com
</p>
</td></tr>
<tr>
<td><a href="http://www.livewellimpex.net/" class="external free" title="http://www.livewellimpex.net/" rel="nofollow">LiveWell Impex</a></td><td>Service Apartment</td><td>
<p>501, Monte Carlo Apartments

</p><p>Near Kondapur 'X' Roads
</p><p>Adjacent TCS, Madhapur
</p><p>Hyderabad-500 081
</p><p>Ph +91 40 2311 5799
</p><p>Mobile: +91 9866179116, +91 8106548334
</p><p>e-mail: livewell@livewellimpex.net 
</p>
</td></tr>
<tr>
<td><a href="http://www.qualityinn.com/" class="external free" title="http://www.qualityinn.com/" rel="nofollow">Quality Inn Pearl</a><td>3 Star Facilities</td><td>
</td></tr>
<tr>
<td><a href="http://www.swagathderoyal.com/" class="external free" title="http://www.swagathderoyal.com/" rel="nofollow">Swagath-De-Royal</a></td><td>3 Star Facilities</td><td>

<p>Kothaguda X Road's Kondapur,
</p><p>Cyberabad,
</p><p>Hyderabad - 81.
</p><p>Phone: +91 40 2300 1333 / 888 / 999.
</p><p>Fax: + 91 40 2300 0333
</p><p>www.swagathderoyal.com
</p><p>Email: info@swagathderoyal.com  
</p>
</td></tr>
<tr>
<td><a href="http://www.adityainn.com/" class="external free" title="http://www.adityainn.com/" rel="nofollow">Aditya Inn</a></td><td>Guest House</td><td>
<p>Plot No.4, Sri Harsha Building
</p><p>Vinayaknagar,
</p><p>Near EPTRI

</p><p>Gachibowli,
</p><p>Hyderabad - 500032
</p><p>Phone&nbsp;: +91 40 2300 2208/9, 4013 8108, 4200 0518
</p><p>Email&nbsp;: adityainn@hotmail.com
</p>
</td></tr>
<tr>
<td>Genius Hostel for Men</td><td>Hostel</td><td>
<p>Mr Laxman Babu
</p><p>Kannayalal Complex,
</p><p>Indiranagar Bus stop,
</p><p>Gachibowli, Hyderabad-500 008

</p><p>Phone: +91 40 2300 1678,79
</p>
</td></tr></table>

{% endblock content %}
