{% extends "base.html" %}
{% block content %}
<h1 class="title">Certificates</h1>


<h3 id="sec-1">Certificate of Appreciation </h3>

<h4 id="sec-1_1">Participants </h4>

<ul>
<li>
A <i>Certificate of Appreciation</i> will be issued for
participants and presenters who contribute considerably during
the sprints.
</li>
<li>
To be considered for the <i>Certificate of Appreciation</i>, the
sprint lead has to approve the participant, based on the proof
of contribution in sprints.
</li>
</ul>

<h4 id="sec-1_2">Conference Presenters </h4>

<ul>
<li>
A separate <i>Certificate of Appreciation</i> will be given to all
conference presenters (including those giving Lightning
Talks). Conference presenters will be selected based on the
abstracts submitted on the website.

</li>
</ul>

<h3 id="sec-2">T-Shirts </h3>

<h4 id="sec-2_1">Participants &amp; Speakers </h4>

<ul>
<li>
T-shirts are given to all participants who contribute significantly
in the sprints, invited speakers and conference presenters.
</li>
<li>
The sprint lead has to recommend/approve contributors for a t-shirt.
</li>
<li>
Only one t-shirt per participant will be given.

</li>
</ul>

<h3 id="sec-3">Certificate of Participation </h3>

<h4 id="sec-3_1">Participants </h4>

<ul>
<li>
Participants simply attending the conference talks, tutorials, and sprints, will not be given 
any certificates. They will, however, be given receipts for the payment made, which can be 
submitted to their respective institutions/organizations.

</li>
</ul>

<h3 id="sec-4">Other goodies </h3>

<h4 id="sec-4_1">Participants &amp; Presenters </h4>

<ul>
<li>
Rewards/swag will be given to participants who perform exceptionally
well in the sprints.
</li>
<li>
The sprint lead has to recommend contributors for these rewards.
</li>
<li>
Some rewards  may be sent by post/courier to participants after
the event.

</li>
</ul>

<h3 id="sec-5">Note </h3>

<ul>
<li>
Please do not contact SciPy.in organizers for a <i>Certificate of      Participation</i> as mere participation/sitting through the event
does not entitle a participant/registrant for a certificate of
participation or appreciation.
</li>
<li>
Participants will be eligible only for a <b>Receipt</b> for the amount
paid towards registration and accommodation.
</li>
<li>
The decision of the sprint leads and the FOSSEE team would be final and binding.
</li>
</ul>

{% endblock content %}
