{% extends "base.html" %}
{% block content %}
<h1>Hyderabad - Host City</h1>

<div class="entry">
<p>Hyderabad is the capital of the state of Andhra Pradesh, and is the fifth largest city in India. Secunderabad is a twin city of Hyderabad and is separated by the Hussain Sagar (locally well known as <i>Tank Bund</i>), an artificial lake constructed in 1562 A.D. The city is nearly 400 years old and is noted for its natural beauty, mosques and minarets, bazaars and bridges, hills and lakes. It is perched on the top of the Deccan Plateau, 1776 ft. above sea level, and sprawls over an area of 100 Sq. miles. Hyderabad is famous for its architecture, cuisine, pickles, and pearls. It is considered to be at cross-roads between the North and the South,the historical and the modern. The <i>Islamic</i> influences of the <i>Nawabs</i> are visible even today in the cuisine and architecture, especially in the older sections of the city, while expanding suburbs are very cosmopolitan.
</p>

<p>A multitude of influences have shaped the character of the city and it has a distinct culture. Its palaces and buildings, houses and tenements, gardens and streets have a history and an architectural individuality of their own, which make Hyderabad a city steeped in culture. Hyderabad is also known as Cyberabad, owing to the presence of large number of IT companies. All major IT companies from across the globe have marked their presence in Hyderabad by having their offices, development centers, or research centers located there.</p>

<p> When in Hyderabad, shopping for pearls is a must - <i>City of Pearls</i> is one of the many <i>sobriquets</i> of Hyderabad . Another <i>must try</i> in Hyderabad is the <i>biriyani</i>, a flavorful and fragrant rice dish. <i>Pulla Reddy</i> and <i>Rami Reddy</i> are famous sweet vendors which are worth checking out. A visit to the Charminar and the surrounding maze of markets is an experience of a lifetime. Be sure to bargain for clothes, ethnic accessories, jewellery (especially pearls and bangles), and artefacts from the myriad vendors abounding these <i>bazaars</i>. Some advice to keep in mind while bargaining would be to start at a fourth (or less) of the price quoted, although this may not always apply.</p>

<p>While <i>Telugu</i> is the state language, a knowledge of <i>Urdu</i>, <i>Hindi</i>, or <i>English</i>, is sufficient to get by, in many places within the city. For more information, including transportation details, do check <a href="http://wikitravel.org/en/Hyderabad">the WikiTravel entry on Hyderabad</a>. </p>

<p> 

<h3>Map</h3>

<p>A Google Map of Hyderabad with prominent places marked can be found here</p>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116571751012231655985.00045ea3a3aa0272ecec3&amp;ll=17.452566,78.373847&amp;spn=0.014329,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116571751012231655985.00045ea3a3aa0272ecec3&amp;ll=17.452566,78.373847&amp;spn=0.014329,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">miyapur to Kompalli </a> in a larger map</small>
</p>
<h3>Climate, Weather and Local time</h3>

<ul>
  <li>Local Time-Indian Standard Time (+0530 GMT)</li>
  <li>Summer Temperature-25oC to 40oC</li>
  <li>Winter Temperature-11oC to 25oC</li>
  <li>Annual Rainfall-400 mm to 2,500 mm</li>
</ul>

<h2>Famous Historical Sites</h2>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/golconda.jpg" alt="Golconda Fort" title="Golconda Fort" /></div>
<div id="speakerinfo">The Golconda fort was founded originally by the <i>Kakatiyas</i> in the 13th century, and was expanded by the Qutb Shahi kings into a massive fort of granite with walls. The fortress city within the walls was famous for the diamond trade and the <i>Koh-i-noor</i> diamond is said to have come from here. One of the most remarkable features of the Golconda fort is its system of
acoustics. The sounds of hands clapped in the grand portico can be heard in the Durbar Hall, at the very top of the hill.</div><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/charminar.jpg" alt="Charminar" title="Charminar" /></div>
<div id="speakerinfo">The <i>Charminar</i> (literally, "Four Minarets")is a major landmark in Hyderabad, the massive arch built by Mohammed Quli Qutab Shah, in 1591 looming at a height of 56 m, is an impressive square gateway with four minarets, to commemorate the end of the plague. The arch is illuminated daily in the evening, and is an unforgettable sight.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/meccamasjid.jpg" alt="Mecca Masjid" title="Mecca Masjid" /></div>
<div id="speakerinfo">The <i>Mecca Masjid</i>, near the <i>Charminar</i>, is one of the largest in the state if not in
India. It is said to accomodate upto 10,000 worshippers. Muhammed Quli Qutub Shah began building it in 1617 and was completed during the reign of Mughal emperor Aurangzeb in 1694.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/qutubshahi.jpg" alt="Qutub Shahi Tombs" width="160px" title="Qutub Shahi Tombs" /></div>
<div id="speakerinfo">A little away from the Golconda fort is a cluster of tombs. Most of them have intricately carved stonework and are the most authentic evidence of the Qutub Shahi architectural traditions. The tombs were erected in the memory of the departed kings of Golconda. They stand a kilometer north of Golconda fort's Banjara Darwaza.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/hussainsagar.jpg" alt="Hussain Sagar Lake" title="Hussain Sagar Lake" /></div>
<div id="speakerinfo">The <i>Hussain Sagar</i> is a lake in Hyderabad, built by Hazrat Hussain Shah Wali in 1562, during the rule of Ibrahim Quli Qutb Shah. It is a 24 km long lake built on a tributary of the River Musi to meet the water and irrigation needs of the city. There is a large monolithic statue of the Gautam Buddha in the middle of the lake which was erected in 1992. It is also called <i>Tank Bund</i> in local parlance.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/birlamandir.jpg" alt="Birla Mandir" title="Birla Mandir" /></div>
<div id="speakerinfo">Birla Mandir is a magnificient temple built entirely in marble, with great architectural significance. It was built by the Birla Foundation. The temple is dedicated to Lord Venkateshwara. The granite image of the presiding deity is about 11 ft. tall and a carved lotus forms an umbrella on the roof. The consorts of Lord Venkateswara, 'Padmavati' and 'Andal' are housed in separate shrines. There is a brass flagstaff in the temple premises which rises to a
height of 42 ft. The temple manifests a blend of South Indian, Rajasthani and Utkal temple architectures. In its entirety, it is made of 2000 tons of pure Rajasthani white marble. It is built on a 280-feet high hillock called the Naovath Pahad in a 13 acres plot. The construction of the temple took 10 years and it was consecrated in 1976. The temple complex overlooking the southern side of Hussain Sagar, offers a magnificient panoramic view of the twin cities of Hyderabad and Secunderabad. It presents a colorful spectacular sight when illuminated at night.</div><br /></div>

<p>The following websites can help find more information about Hyderabad.</p>

<ul>
  <li><a href="http://www.aptourism.in/hplaces.html">http://www.aptourism.in/hplaces.html</a></li>
  <li><a href="http://tourisminap.com/tourpack/hyderabad.php">http://tourisminap.com/tourpack/hyderabad.php</a></li>
  <li><a href="http://www.hydonline.com/">http://www.hydonline.com/</a></li>
  <li><a href="http://www.fullhyderabad.com/">http://www.fullhyderabad.com/</a></li>
  </ul>
</div>
{% endblock content %}
