{% extends "base.html" %}
{% block content %}
<h1>Hyderabad - Host City</h1>

<div class="entry">
<p>Capital of the state of Andhra Pradesh, Hyderabad is the fifth largest city in India and has its own
distinct culture. Secunderabad is a twin city of Hyderabad and is separated by the Hussain Sagar,
an artificial lake constructed in 1562 A.D. The city is nearly 400 years old and is noted for its
natural beauty, mosques and minarets, bazaars and bridges, hills and lakes. It is perched on the
top of the Deccan Plateau, 1776 ft. above sea level, and sprawls over an area of 100 Sq. miles.
</p>

<p>A multitude of influences have shaped the character of the city. Its palaces and buildings, houses
and tenements, gardens and streets have a history and an architectural individuality of their
own, which makes Hyderabad a city of enchantment. Hyderabad is also known as Cyberabad,
owing to the presence of large number of IT companies. All major IT companies from across the
globe have marked their presence in Hyderabad by having their offices, development centers or
research centers located there.</p>

<h3>Map</h3>

<p>A Google Map of Hyderabad with prominent places marked can be found here</p>
<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116571751012231655985.00045ea3a3aa0272ecec3&amp;ll=17.452566,78.373847&amp;spn=0.014329,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116571751012231655985.00045ea3a3aa0272ecec3&amp;ll=17.452566,78.373847&amp;spn=0.014329,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">miyapur to Kompalli </a> in a larger map</small>
</p>
<h3>Climate, Weather and Local time</h3>

<ul>
  <li>Local Time-Indian Standard Time (+0530 GMT)</li>
  <li>Summer Temperature-25oC to 40oC</li>
  <li>Winter Temperature-11oC to 25oC</li>
  <li>Annual Rainfall-400 mm to 2,500 mm</li>
</ul>

<h2>Famous Historical Sites</h2>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/golconda.jpg" alt="Golconda Fort" title="Golconda Fort" /></div>
<div id="speakerinfo">Golconda fort was founded originally by the Kakatiyas in the 13th
century, and was expanded by the Qutb Shahi kings into a massive fort of granite with walls. The
fortress city within the walls was famous for the diamond trade and the Koh-i-noor diamond is
said to have come from here. One of the most remarkable features of Golconda is its system of
acoustics. The sounds of hands clapped in the grand portico can be heard in the Durbar Hall, at
the very top of the hill.</div><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/charminar.jpg" alt="Charminar" title="Charminar" /></div>
<div id="speakerinfo">Charminar is the major landmark in Hyderabad, the massive arch built
by Mohammed Quli Qutab Shah, in 1591 looming at a height of 56 m, is an impressive square
gateway with four minarets, to commemorate the end of the plague. The arch is illuminated daily
in the evening, an unforgettable sight indeed.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/meccamasjid.jpg" alt="Mecca Masjid" title="Mecca Masjid" /></div>
<div id="speakerinfo">Mecca Masjid is near Charminar, one of the largest in the state if not in
India, said to accomodate upto 10,000 worshippers. Muhammed Quli Qutub Shah began building
it in 1617 and was completed during the reign of Mughal emperor Aurangzeb in 1694.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/golconda.jpg" alt="Golconda Fort" title="Golconda Fort" /></div>
<div id="speakerinfo">A little away from Golconda fort are a cluster of tombs. Most of them
have intricately carved stonework and are the most authentic evidence of the Qutub Shahi
architectural traditions. The tombs erected in the memory of the departed kings of Golconda.
They stand a kilometer north of Golconda fort's Banjara Darwaza.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/hussainsagar.jpg" alt="Hussain Sagar Lake" title="Hussain Sagar Lake" /></div>
<div id="speakerinfo">Hussain Sagar is a lake in Hyderabad, India built by Hazrat Hussain
Shah Wali in 1562, during the rule of Ibrahim Quli Qutb Shah. It was a lake of 24 kilometres
built on a tributary of the River Musi to meet the water and irrigation needs of the city. There is
a large monolithic statue of the Gautam Buddha in the middle of the lake which was erected in
1992.</div><br /><br /><br /><br /></div>

<div id="speaker"><div id="speakerphoto"><img src="/static/img/birlamandir.jpg" alt="Birla Mandir" title="Birla Mandir" /></div>
<div id="speakerinfo">Birla Mandir is a magnificient temple built entirely in marble, with
great architectural significance. It was built by the Birla Foundation. The temple is dedicated to
Lord Venkateshwara. The granite image of the presiding deity is about 11 ft. tall and a carved
lotus forms an umbrella on the roof. The consorts of Lord Venkateswara, 'Padmavati' and 'Andal'
are housed in separate shrines. There is a brass flagstaff in the temple premises which rises to a
height of 42 ft. The temple manifests a blend of South Indian, Rajasthani and Utkal temple
architectures. In its entirety, it is made of 2000 tons of pure Rajasthani white marble. It is built on
a 280-feet high hillock called the Naovath Pahad in a 13 acres plot. The construction of the
temple took 10 years and it was consecrated in 1976. The temple complex overlooking the
southern side of Hussain Sagar, offers a magnificient panoramic view of the twin cities of
Hyderabad and Secunderabad. It presents a colorful spectacular sight when illuminated at night.</div><br /></div>

<p>The following websites will be helpful to find more information about Hyderabad</p>

<ul>
  <li><a href="http://www.aptourism.in/hplaces.html">http://www.aptourism.in/hplaces.html</a></li>
  <li><a href="http://tourisminap.com/tourpack/hyderabad.php">http://tourisminap.com/tourpack/hyderabad.php</a></li>
  <li><a href="http://www.hydonline.com/">http://www.hydonline.com/</a></li>
  <li><a href="http://www.fullhyderabad.com/">http://www.fullhyderabad.com/</a></li>
  </ul>
</div>
{% endblock content %}
