{% extends "base.html" %}
{% block content %}

<h2 id="sec-1">Fees </h2>

<h3 id="sec-1_1">Registration fees for outstation students and teachers. </h3>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Accommodation</th></tr>
<tr><th scope="col"></th><th scope="col">+ Tutorials</th><th scope="col">(all 6 days)</th></tr>
</thead>
<tbody>
<tr><td>Students</td><td>Rs. 500</td><td>Rs. 300</td></tr>
<tr><td>Teachers</td><td>Rs. 500</td><td>Rs. 300</td></tr>
</tbody>
</table>

<h4 id="sec-1_1_1">Registration fees along with the accommodation charges can be paid either by electronic transfer (<a href="#sec-2_2_2">details</a>) or by sending a Demand Draft for the amount of Rs.800 (for all 6 days). </h4>


<h3 id="sec-1_2">Registration fees for in-station students and teachers. </h3>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th></tr>
<tr><th scope="col"></th><th scope="col">+ Tutorials</th></tr>
</thead>
<tbody>
<tr><td>Students</td><td>Rs. 500</td></tr>
<tr><td>Teachers</td><td>Rs. 500</td></tr>
</tbody>
</table>

<h4 id="sec-1_2_1">Registration fees can be paid either by electronic transfer (<a href="#sec-2_2_2">details</a>) or by sending a Demand Draft for the amount of Rs.500 (for all 6 days). </h4>

<h3 id="sec-1_3">Registration fees for corporates and others. </h3>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Tutorials + sprints</th></tr>
</thead>
<tbody>
<tr><td>Corporates</td><td>Rs. 2000</td><td>Rs. 1000 per day</td></tr>
<tr><td>Others</td><td>Rs. 2000</td><td>Rs. 1000 per day</td></tr>
</tbody>
</table>

<h4 id="sec-1_3_1">Registration fees corresponding to the conference +( number of tutorial days * 1000) can be paid either by electronic transfer (<a href="#sec-2_2_2">details</a>) or by sending a Demand Draft. </h4>

<ul>
<li id="sec-1_3_1_1">For example, if attending the conference and 2 of the tutorial days, the fees payable would be Rs. 2000 + (2 * Rs. 1000) = Rs. 4000. <br/>
</li>
</ul>

<h3 id="sec-1_4">Spot registration / late payment(on-spot) </h3>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Tutorials + sprints</th></tr>
</thead>
<tbody>
<tr><td>Students</td><td>Rs. 750</td><td>Included in conference fee</td></tr>
<tr><td>Teachers</td><td>Rs. 750</td><td>Included in conference fee</td></tr>
<tr><td>Corporates</td><td>Rs. 2500</td><td>Rs. 1250 per day</td></tr>
</tbody>
</table>

<h2 id="sec-2">Note: </h2>

<h3 id="sec-2_1">Accommodation </h3>

<ul>
<li>
Accommodation will be provided at a subsidized rate of Rs.50 per day for outstation teachers and students alone. 
</li>
<li>
Accommodation fees has to remitted on or before 6th of December, 2010. If you are sending us a DD, it should reach us on or before 8th of December, 2010.
</li>
<li>
Accommodation will be confirmed at the venue only for participants with valid identity cards from their respective institutions.
</li>
</ul>

<h3 id="sec-2_2">Registration Fees </h3>

<h4 id="sec-2_2_1">Demand Draft </h4>

<ul>
<li>
An email should be sent to <i>info@scipy.in</i> with the name of the
participant, user id on the website, institution, and the
transaction details(reference no. and account no.)
</li>
<li>
Registered participants whose talks have been accepted will be
exempt from the registration fees.
</li>
<li>
The demand draft may be obtained in favour of <b>FOSSEE</b> payable at
<b>Mumbai</b>.
</li>
<li>
The Demand Drafts may be sent to
<pre class="example">
Prof. Prabhu Ramachandran,
Department of Aerospace Engineering,
IIT Bombay,Powai,
Mumbai, Maharastra,
India 400 076
</pre>

</li>
</ul>

<h4 id="sec-2_2_2">Electronic transfer (NEFT) </h4>

<ul>
<li>
An email should be sent to <i>info@scipy.in</i> with the name of the
participant, user id on the website, institution, and the
transaction details(reference no. and account no., account holder
name from which the transfer was made.)
</li>
<li>
Registered participants whose talks have been accepted will be
exempt from the registration fees.
</li>
<li>
The total amount for fees and accommodation (if applicable) may be
transfered to,
<pre class="example">
Account Number - 2724101100988
Account Name - FOSSEE
IFSC code - CNRB0002724
Bank - Canara Bank
Branch - IIT Powai, Mumbai - 400076
</pre>

</li>
<li>
While transferring the amount, ensure that the remark of transaction
contain the user-name on website and (or) Full name with email
address registered with us.

</li>
</ul>
{% endblock content %}
