{% extends "base.html" %}
{% block content %}
<div id="content">



<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Fees </h2>
<div class="outline-text-2" id="text-1">


</div>

<div id="outline-container-1_1" class="outline-3">

<h3 id="sec-1_1">Registration fees for outstation students and teachers. </h3>
<div class="outline-text-3" id="text-1_1">


<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Accommodation</th></tr>
<tr><th scope="col"></th><th scope="col">+ Tutorials</th><th scope="col">(all 6 days)</th></tr>

</thead>
<tbody>
<tr><td>Students</td><td>Rs. 500</td><td>Rs. 300</td></tr>
<tr><td>Teachers</td><td>Rs. 500</td><td>Rs. 300</td></tr>
</tbody>
</table>



</div>

<div id="outline-container-1_1_1" class="outline-4">
<h4 id="sec-1_1_1">Registration fees along with the accommodation charges can be paid either by electronic transfer (account no. - ) or by sending a Demand Draft for the amount of Rs.800 (for all 6 days). </h4>
<div class="outline-text-4" id="text-1_1_1">



</div>
</div>

</div>

<div id="outline-container-1_2" class="outline-3">
<h3 id="sec-1_2">Registration fees for in-station students and teachers. </h3>
<div class="outline-text-3" id="text-1_2">

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th></tr>
<tr><th scope="col"></th><th scope="col">+ Tutorials</th></tr>
</thead>
<tbody>
<tr><td>Students</td><td>Rs. 500</td></tr>
<tr><td>Teachers</td><td>Rs. 500</td></tr>

</tbody>
</table>



</div>

<div id="outline-container-1_2_1" class="outline-4">
<h4 id="sec-1_2_1">Registration fees can be paid either by electronic transfer (account no. - ) or by sending a Demand Draft for the amount of Rs.500 (for all 6 days). </h4>
<div class="outline-text-4" id="text-1_2_1">



</div>
</div>

</div>

<div id="outline-container-1_3" class="outline-3">
<h3 id="sec-1_3">Registration fees for corporates and others. </h3>
<div class="outline-text-3" id="text-1_3">


<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Tutorials + sprints</th></tr>

</thead>
<tbody>
<tr><td>Corporates</td><td>Rs. 2000</td><td>Rs. 1000 per day</td></tr>
<tr><td>Others</td><td>Rs. 2000</td><td>Rs. 1000 per day</td></tr>
</tbody>
</table>



</div>

<div id="outline-container-1_3_1" class="outline-4">
<h4 id="sec-1_3_1">Registration fees corresponding to the conference +( number of tutorial days * 1000) can be paid either by electronic transfer (account no. - ) or by sending a Demand Draft. </h4>
<div class="outline-text-4" id="text-1_3_1">


<ul>
<li id="sec-1_3_1_1">For example, if attending the conference and 2 of the tutorial days, the fees payable would be Rs. 2000 + (2 * Rs. 1000) = Rs. 4000. <br/>
</li>
</ul>
</div>
</div>

</div>

<div id="outline-container-1_4" class="outline-3">

<h3 id="sec-1_4">Spot registration / late payment(on-spot) </h3>
<div class="outline-text-3" id="text-1_4">

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Category</th><th scope="col">Conference</th><th scope="col">Tutorials + sprints</th></tr>
</thead>
<tbody>
<tr><td>Students</td><td>Rs. 750</td><td>Included in conference fee</td></tr>

<tr><td>Teachers</td><td>Rs. 750</td><td>Included in conference fee</td></tr>
<tr><td>Corporates</td><td>Rs. 2500</td><td>Rs. 1250 per day</td></tr>
</tbody>
</table>



</div>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Note: </h2>
<div class="outline-text-2" id="text-2">


</div>

<div id="outline-container-2_1" class="outline-3">
<h3 id="sec-2_1">Accommodation </h3>
<div class="outline-text-3" id="text-2_1">

<ul>
<li>
Accommodation will be provided at a subsidized rate of Rs.50 for day for outstation teachers and students alone. 

</li>
<li>
Accommodation will be confirmed only upon receipt of the fee.
</li>
<li>
Accommodation will be confirmed at the venue only for participants with valid identity cards from their respective institutions.
</li>
</ul>
</div>

</div>

<div id="outline-container-2_2" class="outline-3">
<h3 id="sec-2_2">Registration </h3>
<div class="outline-text-3" id="text-2_2">

<ul>
<li>
An email should be sent to info@scipy.in with the name of the participant, user id on the website, institution, and the transaction details(reference no. and account no.)
</li>
<li>
Registered participants whose talks have been accepted will be exempt from the registration fees.
</li>
<li>
The demand draft may be obtained in favour of <b>Prof. Prabhu Ramachandran</b> payable at <b>Mumbai</b>.
</li>
<li>
The Demand Drafts may be sent to

<pre class="example">
Prof. Prabhu Ramachandran,
Department of Aerospace Engineering,
IIT Bombay,Powai,
Mumbai, Maharastra,
India 400 076
</pre>

</li>
</ul>
</div>
</div>
</div>

{% endblock content %}
