{% extends "base.html" %}
{% block content %}
<p>Lunch will be provided on all days. Tea/coffee and biscuits will be provided
twice a day on all days. Participants will have to make their own arrangements
for breakfast and dinner. They can inform the organizers at the registration
desk on Day 1 of the conference if opting to eat any meals at the IIITH
messes/canteens. Informing us in prior will ensure availability of food
at these places. IIITH  offers highly subsidized meals at the rate of Rs.20 for 
breakfast and Rs.30 for dinner.

In addition, please find below a list of some eateries in the vicinity of 
IIITH.</p>

<table class="scipycon-default-border" cellpadding="6" rules="groups" frame="hsides">
  <tr>
    <th>Name</th>
    <th>Type of food</th>
    <th>Distance from IIIT-H</th>
    <th>Address</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Vennela Mess</td>
    <td>South Indian</td>
    <td>1KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td>Full meal is Rs. 55</td>
  </tr>
  <tr>
    <td>Nellore Mess</td>
    <td>South Indian</td>
    <td>1 KM</td>
    <td>Opposite DLF Building, Gachibowli, Hyderabad</td>
    <td>Rate for full meal is Rs. 40</td>
  </tr>
  <tr>
    <td>Hot Roties</td>
    <td>North Indian</td>
    <td>1KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td>Rate for full meal is Rs. 40</td>
  </tr>
  <tr>
    <td>Subway</td>
    <td></td>
    <td>0.5 KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td></td>
    <td>1KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Pizza Corner</td>
    <td></td>
    <td>1KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>The Wonton</td>
    <td>Chinese</td>
    <td>1KM</td>
    <td>Indra Nagar, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Punjabi Rasoi</td>
    <td></td>
    <td>2KM</td>
    <td>Cross Road, Gachibowli, Hyderabad, ph: 040- 65523257</td>
    <td></td>
  </tr>
  <tr>
    <td>Swagath De Royal</td>
    <td></td>
    <td>4KM</td>
    <td>Kondapur, Kothaguda X Road's,Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Slizzing Grills</td>
    <td></td>
    <td>4KM</td>
    <td>2nd Floor, Sri Tirumala Subash Arcade, Kothaguda X Roads, Kondapur, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>F9 Diner</td>
    <td></td>
    <td>4KM</td>
    <td>4th Floor Pavan Priyanka Plaza, Opp Harsha Toyota & Above Kun Hyundai, Kondapur, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Dine vally</td>
    <td></td>
    <td>4KM</td>
    <td>Opp Police Commissionerate Office, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Quality INN</td>
    <td></td>
    <td>4KM</td>
    <td>Lumbini Enclave, Opposite Engineering Staff College, Gachibowli, Hyderabad</td>
    <td></td>
  </tr>
  <tr>
    <td>Haveli</td>
    <td></td>
    <td>4KM</td>
    <td>148 Beside Kothaguda Post Office, Commercial Complex, Main Road, Kondapur, Hyderabad</td>
    <td></td>
  </tr>
</table>
{% endblock content %}