{% extends "base.html" %}
{% block content %}
<h1>Important dates</h1>
<div class="entry">
  <p><ul class="entry">
    <li>November 10, 2010, Wednesday: Abstracts Due</li>
    <li>November 15, 2010, Monday: Schedule announced
    <li>December 08, 2010, Sunday: Proceedings paper submission due
    <li>December 13-14, 2010, Monday-Tuesday: Conference
    <li>December 15-17, 2010, Wednesday-Friday: Tutorials/Sprints
    <li>December 18, 2010, Saturday: Sprints
  </ul></p>
</div>
{% endblock content %}
