{% extends "base.html" %}
{% block content %}

<h1 class="title">SciPy.in Committee</h1>


<h3 id="sec-1_1">Executive Committee </h3>


<h4 id="sec-1_1_1">Conference Co-Chairs </h4>

<ul>
<li>
Prabhu Ramachandran, IIT Bombay
</li>
<li>
Jarrod Millman, UC Berkeley
</li>
</ul>

<h3 id="sec-1_2">Program Committee </h3>

<ul>
<li>
Prabhu Ramachandran,
Department of Aerospace Engineering,
IIT Bombay
</li>
<li>
Jarrod Millman,
Neuroscience Institute,
UC Berkeley
</li>
<li>
Fernando Perez,
Neuroscience Institute,
UC Berkeley
</li>
<li>
John Hunter,
TradeLink Securities
</li>
<li>
St&egrave;fan van der Walt,
Division of Applied Mathematics,
Stellenbosch University
</li>
<li>
Puneeth Chaganti,
FOSSEE, IIT Bombay
</li>
<li>
Kadambari Devarajan,
FOSSEE, IIT Bombay

</li>
</ul>
<h3 id="sec-1_3">Local Organizers </h3>

<h4 id="sec-1_3_1">FOSSEE </h4>

<ul>
<li>
Prabhu Ramachandran
</li>
<li>
Anoop Jacob Thomas
</li>
<li>
Amit Singh Sethi
</li>
<li>
Anand Raj Ramachandran
</li>
<li>
Bhanukiran Perbhatini
</li>
<li>
Kadambari Devarajan
</li>
<li>
Madhusudan C S
</li>
<li>
Nishanth Amuluru
</li>
<li>
Puneeth Chaganti
</li>
<li>
Thomas Stephen Lee

</li>
</ul>

<h4 id="sec-1_3_2">IIIT Hyderabad </h4>

<ul>
<li>
Sandhya Kode
</li>
<li>
Venkatesh Choppella
</li>
<li>
General R K Bagga
</li>
<li>
Enhance Edu Team, IIIT Hyderabad
</li>
</ul>

<h3 id="sec-1_4">Program Staff </h3>

<ul>
<li>
Deepak Kharat
</li>
<li>
Vishal Birare
</li>
</ul>

<h3 id="sec-1_5">Graphic Design </h3>

<ul>
<li>
Kamaleshwar Morjal
</li>
</ul>

{% endblock content %}
