{% extends "base.html" %}
{% block content %}
<h1>How to reach the venue?</h1>
<p class="noindent">Once you reach Trivandrum Central Station, you can reach Technopark by
bus, taxi or an autorickshaw.</p>

<p class="noindent">To take a bus to Technopark, you need to go to the Thampanoor bus stand
located opposite to the Trivandrum central railway station and board a bus
that leaves for Kollam. The ticket costs you about Rs.20. You must get
down at Kazhakuttam stop. From there you must hire an autorickshaw to
Technopark. Auto fare to Technopark is between Rs.10-15.</p>

<p class="noindent">Air conditioned volvo buses to Technopark are available from East fort
which is approximately 1km from Trivandrum Central Railway Station.</p>

<p class="noindent">Timings of KSRTC volvo A/C buses from East fort that reaches Technopark
are at:</p>

<p class="noindent">
<table class="kiwipycon-default">
  <tr><th>From East fort</th><th>Reaches Technopark at</th></tr>
  <tr><td>6:00AM</td><td>6:40AM</td></tr>
  <tr><td>7:00AM</td><td>7:35AM</td></tr>
  <tr><td>7:00AM</td><td>7:45AM</td></tr>
  <tr><td>7:50AM</td><td>8:30AM</td></tr>
  <tr><td>9:10AM</td><td>9:50AM</td></tr>
</table>
</p>

<p class="noindent">You can also take a taxi to Technopark from outside the Thampanoor central
railway station. Taxi fare is about Rs 350.</p>

<p class="noindent">You can even take an autorickshaw to Technopark from the the prepaid
autorickshaw stand infront of Trivandrum central railway station. Prepaid
auto fare to technopark is about Rs.125 upto the front gate of technopark
and about Rs.25 more to the campus.</p>

<p class="noindent">From Thiruvananthapuram Airport, you can take a a taxi to Technopark
which will cost about Rs 300. Taking an auto to technopark costs about
Rs 200.</p>
{% endblock content %}