{% extends "base.html" %}
{% block content %}
<div class="entry">
<h1><strong>Sponsors</strong></h1>
<br/>
  <p>
    <img src="/static/img/fossee.jpg" alt="FOSSEE Logo" title="FOSSEE Logo"
    height="90" /><br/><br/>
    <a href="http://fossee.in">FOSSEE</a> is the main sponsor and organizer 
    of SciPy.in 2010. They initiated an Indian edition of the popular
    SciPy conference in 2009, in order to encourage the use of Python
    for Scientific Computing in Asia. The goal of the FOSSEE project is to
    enable the students and faculty of Science and Engineering
    colleges/institutes/universities across India to use open source software
    tools for all their computational needs, thereby improving the quality of
     instruction and learning.
    <br/><br/><br/><br/>
    <img src="/static/img/enthought_logo.png" alt="Enthought Logo"
    title="Enthought Logo" /><br/><br/>
    <a href="http://www.enthought.com/">
    Enthought, Inc.</a> is the supplementary sponsor for SciPy.in 2010.
    They provide scientific computing solutions through software
    development, consulting, and training. They use Python significantly 
    for most of their projects, and work closely with many of the leading
    Python developers involved with scientific computing.
    <br/><br/><br/><br/>
    <img src="/static/img/python_logo.gif" alt="PSF Logo"
    title="PSF Logo" /><br/><br/>
    <a href="http://www.python.org/psf/">
    The Python Software Foundation</a> is partially funding the sprints at 
    SciPy India 2010. The PSF is a non-profit organization devoted 
    to the spread and advancement of open source technologies associated with 
    the Python programming language.
    <br/><br/><br/><br/>
    <img src="/static/img/enhanceedu_logo.png" alt="IIIT-H Logo"
    title="IIIT-H Logo" height="150" /><br/>
    <a href="http://www.enhanceedu.iiit.ac.in/">
    EnhanceEdu</a> is partially sponsoring the accommodation for the participants
    of SciPy.in 2010. It is an initiative of IIIT Hyderabad and is involved with 
    training teachers and students belonging to engineering colleges on
    a range of current topics. They conduct various certificate programs and
    workshops in and around Hyderabad. They are also involved with the local
    organization of the conference, in association with FOSSEE.
  </p>
  <br/><br/><br/><br/>
  <h1><strong>Venue Sponsors</strong></h1>
  <p>
    <a href="http://www.isb.edu/">
    <img src="/static/img/isb_logo.gif"
    alt="Indian School of Business Logo"
    title="Indian School of Business" /><br /><br /></a>
    The <a href="http://www.isb.edu/">Indian School of Business</a> in Hyderabad is one of India's top management
    schools and is a world-renowned (and globally top-ranked) B-school. They
    have a fantastic campus with world-class infrastructure. They have 
    graciously accepted to sponsor and host the conference days 
    (Dec. 13th & 14th, 2010) at ISB's ultra-modern Khemka Auditorium.'
    <br/><br/><br/><br/>
    <a href="http://www.mahindrasatyam.com/">
    <img src="/static/img/mahindra_satyam_logo.jpg"
    alt="Mahindra Satyam Logo"
    title="Mahindra Satyam Logo" /><br/><br/>
    </a><a href="http://www.mahindrasatyam.com/">Mahindra Satyam</a>
    is a multi-national information, communications, and technology (ICT)
    company providing business consulting, information technology, and
    communication services. They have graciously accepted to sponsor and host
    the Danube Hall at Mahindra Satyam Learning World in Hyderabad's famed
    <a href="http://en.wikipedia.org/wiki/HITEC_City">HITEC City</a>, for
    the tutorial/sprint days (Dec. 15th-17th, 2010) of SciPy.in 2010.'
    <br/><br/><br/><br/>
    <a href="http://www.iiit.ac.in/">
    <img src="/static/img/iiith_logo.gif" alt="IIIT-H Logo"
    title="IIIT-H Logo" /><br/>
    <a href="http://www.iiit.ac.in/">IIIT Hyderabad</a> is an autonomous,
    research university offering under-graduate and graduate education
    in Computer Science, Electronics and Communications, and their
    applications in other domains. They have graciously volunteered to sponsor
    and host the last day of the conference involving
    sprints (Dec. 18th, 2010) and have offered a number of labs and seminar
    halls to suit the needs of the sprints.
  </p>
</div>
{% endblock content %}
