{% extends "base.html" %}
{% block content %}
<h1>Probable Sprint Topics</h1>

<ul>
<li>
Documentation
<ul>
<li>
Scipy/Numpy
</li>
<li>
Mayavi
</li>
</ul>
</li>
<li>
Mayavi
</li>
<li>
Ipython
</li>
<li>
Sage
</li>
<li>
matplotlib
</li>
<li>
Spoken tutorial
<ul>
<li>
recording
</li>
<li>
dubbing
</li>
</ul>
</li>
<li>
Text books
<ul>
<li>
Kreyszig - Advanced Engineering Mathematics 
</li>
<li>
Strang - Linear Algebra
</li>
<li>
Introduction to Dynamics - Ian Percival, Derek Richards

</li>
</ul>
</li>
</ul>

<p>Details of the Sprints can be worked out based on the interest of
the participants.  This will be updated as soon as more information is 
available.
</p>
<p>
Participants of Sprints who make a significant contribution will be
given swag. The sprint lead will choose the participants eligible for swag. 
</p>

{% endblock content %}
