{% extends "base.html" %}
{% block content %}
<h1>Tutorials</h1>

<h3 id="sec-1"><span class="section-number-3"></span>Intended audience </h3>

<p>College and University Teachers/Professors/Lecturers from any Engineering or Science domain, and Engineering students who would like to use Python for their basic computing and plotting needs.
</p>

<h3 id="sec-2"><span class="section-number-3"></span>Prerequisites </h3>

<ul>
<li>
Participants should be comfortable computer users and be familiar with programming constructs such as loops, conditionals.
</li>
<li>
Familiarity with programming editors&ndash; scite, notepad++, vi, emacs- will be a plus.
</li>
<li>
Familiarity with using the commandline will be another plus.

</li>
</ul>

<h3 id="sec-3"><span class="section-number-3"></span>Objectives </h3>

<ul>
<li>
At the end of the program the participants will have a good understanding of the Python language, and selected libraries.
</li>
<li>
They will be able to write good modular procedural code and use objects.
</li>
<li>
They will get a overview of the other major topics, features and libraries and be able to learn these on their own if required.
</li>
<li>
They will be able to generate 2-D plots using NumPy and Matplotlib, and 3-D plots using MayaVi2.
</li>
<li>
They will be able to incorporate and adapt Python in their lessons

</li>
</ul>

<h3 id="sec-4"><span class="section-number-3"></span>Coverage </h3>

<p>This is a rough outline of the topics to be covered in the
tutorials. The exact schedule of the tutorials will be put up in a
short while.
</p>
<ul>
<li>
<a href="http://www.sagemath.org" >Sage</a> 
<ul>
<li>
basic usage 
</li>
<li>
symbolic computing
</li>
<li>
numeric computing
</li>
<li>
basic plotting
</li>
</ul>
</li>
<li>
Basic Scientific Computing with Python covering the following
<ul>
<li>
ipython
</li>
<li>
pylab
</li>
<li>
numpy
</li>
<li>
scipy
</li>
<li>
basic use of Mayavi
</li>
</ul>
</li>
<li>
Basic Python
<ul>
<li>
data-types
</li>
<li>
conditionals &amp; looping
</li>
<li>
functions &amp; modules
</li>
</ul>
</li>
<li>
Advanced topics
<ul>
<li>
Cython
</li>
<li>
More Ipython
</li>
<li>
More Mayavi
</li>
<li>
More matplotlib
</li>
<li>
More Sage?

</li>
</ul>
</li>
</ul>

<p>Any participants using their own laptops should have the required
software installed on their machines, before coming to the venue of
the tutorials. The installation instructions are available <a href="http://fossee.in/installation-how-to">here</a>.
</p>


<h3 id="sec-5"><span class="section-number-3"></span>Methodology </h3>

<ul>
<li>
Completely hands on, exploratory mode with minimal lectures introducing essential concepts and techniques.
</li>
<li>
Typically we will have short 15 - 20 minute lectures, followed by series of graduated problems. The participants will solve them exploring the documentation to do so and the solutions will be discussed.
</li>
<li>
We shall be conducting quizzes during the course of the workshop to evaluate the degree to which the objectives have been accomplished.

</li>
</ul>

<p>Laptops can be brought by participants, and additional laptops/computers can be provided for use for those required. Charging points will be available.
</p>
<p>
As far as installations go, you would require the following:
</p>
<ul>
<li>
For Debian/ Ubuntu and the like:
(a) IPython
(b) Python doc
(c) the Python Profiler
(d) Scipy/Numpy
(e) Matplotlib
(f) Mayavi2

</li>
<li>
For Windows XP (x86), Windows Vista (x86), Mac OS X 10.4+ (x86), RedHat 3 (x86, amd64), RedHat 4 (x86, amd64), RedHat 5 (x86, amd64), and Solaris 10 (x86, amd64) :
(a) get the EPD (<a href="http://www.enthought.com/products/epd.php">http://www.enthought.com/products/epd.php</a>) bundle and you'll have everything you need! This is available for free for those in academia and others can utilize the free 30 day trial version for now.

</li>
</ul>

<p>In any case, we will be providing live DVDs containing all the required installations and some additional tools on site. The iso can also be downloaded from the fossee.in site (<a href="http://fossee.in/download#DVDs">http://fossee.in/download#DVDs</a>).
</p>

{% endblock content %}
