{% extends "base.html" %}
{% block content %}
<h1>Venue</h1>
<div class="entry">
  <p>This conference is jointly organized by <a href="http://fossee.in">
"Free/Open source Software in Science and Engineering Education" (FOSSEE)
</a> project under the <a href="http://www.sakshat.ac.in/">National Mission
on Education (NME)</a> through Information and Communication Technologies
(ICT), <a href="http://space-kerala.org/">SPACE-Kerala </a>,
<a href="http://www.itmission.kerala.gov.in/"> Kerala State IT Mission (KSITM)
</a> and SIG-FOSS of CSI. SPACE-Kerala is helping coordinate and organize the
conference.</p>
<p>The conference is proposed to be held at the Technopark in Trivandrum, keeping
in mind accessibility, the number of attendees and the location, among other
aspects to be considered.</p>
</div>
{% endblock content %}