{% extends "base.html" %}
{% block content %}
<h1>Venue</h1>
<div class="entry">

<h1><strong>Conference Venue</strong></h1>
<h2>December 13th and 14th, 2010</h2>
<br/><br/>
<p>
  <a href="http://www.isb.edu/">
  <img src="/static/img/isb_logo.gif"
  alt="Indian School of Business Logo"
  title="Indian School of Business" /></a><br /><br /><br/>
  The SciPy.in 2010 conference is being held at the
  <a href="http://www.isb.edu/Campustour/academic_khemka_auditorium.html">
  Khemka Auditorium</a> of the
  <a href="http://www.isb.edu/">Indian School of Business</a>(ISB) in
  Hyderabad. ISB is one of India's top management schools and is a
  world-renowned (and globally top-ranked) B-school.
</p>
<br/><br/>
<h1><strong>Tutorial Venue</strong></h1>
<h2>December 15th, 16th and 17th, 2010</h2>
<br/><br/>
<p>
  <a href="http://www.mahindrasatyam.com/">
  <img src="/static/img/mahindra_satyam_logo.jpg"
  alt="Mahindra Satyam Logo"
  title="Mahindra Satyam Logo" /></></a><br/><br/><br/>
  The SciPy.in 2010 tutorials are being held at the
  Danube Hall at <a href="http://www.mahindrasatyam.com/careers/crossover/work_life_environment.asp ">
  Mahindra Satyam Learning World</a> in Hyderabad's famed
  <a href="http://en.wikipedia.org/wiki/HITEC_City">HITEC City</a>.
  </a><a href="http://www.mahindrasatyam.com/">Mahindra Satyam</a>
  is a multi-national information, communications, and technology (ICT)
  company providing business consulting, information technology, and
  communication services.
</p>
<br/><br/>
<h1><strong>Sprint Venue</strong></h1>
<h2>December 18th, 2010</h2>
<br/><br/>
<p>
  <a href="http://www.iiit.ac.in/">
  <img src="/static/img/iiith_logo.gif" alt="IIIT-H Logo"
  title="IIIT-H Logo" /></a><br/><br/><br/>
  The SciPy.in 2010 sprints will be held in various labs and seminar
  halls at IIIT Hyderabad. The directions to these exact locations
  will be updated soon.
  <a href="http://www.iiit.ac.in/">IIIT Hyderabad</a> is an autonomous,
  research university offering under-graduate and graduate education
  in Computer Science, Electronics and Communications, and their
  applications in other domains. They have offered a number of labs
  and seminar halls to suit the needs of the sprints.
</p>
</div>
{% endblock content %}
