{% extends "base.html" %}
{% block content %}
<h1>Venue</h1>
<div class="entry">
<p>The conference is being held at the International Institute of Information
Technology in Hyderabad, keeping in mind accessibility, the number of attendees
and the location, among other aspects to be considered.</p>

<p>You can know more the host city - Hyderabad with some interesting pictures
here <a href="{% url scipycon_city %}">Host City - Hyderabad</a></p>.

<p>
<strong>More about IIIT-Hyderabad coming soon.</strong></p>
</div>
{% endblock content %}