{% extends "base.html" %}
<!-- TODO: Replace sentences with PR's suggestions. -->
{% block title %}
Schwag Sponsors
{% endblock %}

{% block content %}
    <h1>Schwag Sponsors</h1>

<p>The SciPy.in 2009 Organising Committee would also like to thank the
following organisations for their generous contributions of giveaway items for
the SciPy.in PyCon attendees!</p>

<p><ul>
  <li>(co-chair) <a href='https://cirl.berkeley.edu/view/User/JarrodMillman'>Jarrod Millman</a>, Neuroscience Institute, UC Berkeley (USA)</li>
  <li>(co-chair) <a href='http://www.aero.iitb.ac.in/~prabhu'>Prabhu Ramachandran</a>, Department of Aerospace Engineering,
IIT Bombay (India)</li>
  <li>Vimal Joseph, <a href='http://space-kerala.org/'>SPACE-Kerala (India)</a></li>
  <li><a href='http://fossee.in/'>FOSSEE Team</a></li>
  <li><a href='http://www.itmission.kerala.gov.in'>Kerala State IT Mission(KSITM)</a></li>
  <li><a href='http://csi-india.org'>SIG-FOSS Of CSI</a></li>
</ul></p>


{% endblock %}

