Hello everyone,
  We have not activated your account till now since were still in the
process of finalizing the ideas for SciPy.in 2009 and the smoothing out
the organization details. This mail is an activation mail. Click on the
link below to activate your account.

http://scipy.in/accounts/activate/{{ activation_key }}/

  If your email client doesn't support clicking the links, please copy
paste the above URL in your browser's address bar. If your email client
wraps the line and the activation URL is broken, then your activation
can be constructed as follows:

http://scipy.in/accounts/activate/<your-activation-key>/

Your activation key being:
{{ activation_key }}

NOTE: Please activate your account within next 7 days i.e, before
October 26th, 2009. Otherwise your account will be removed from
our database.

Very important: The registration process is not complete yet. Once you
activate your account you will be able to login on the site. Please login
and click on the registration link at the left panel again. You will be
presented with other details. Please fill in the relevant details. This
information is very much required for us to conduct SciPy very smoothly.

Optionally you can also click on Edit Profile link at the top and fill in
your bio.


--
 Thanks for understanding,
 FOSSEE Team
