Hello {{ name }},
  There has been a delay in activating your account since we were still
smoothening the organization details for SciPy.in 2009. Apologies for
this. This mail describes the steps to complete the registration process
for SciPy.in. Click on the activation link below to activate your account.
Also, please note that the activation of your account is simply the
first step of the registration process. Read further below for completing
the registration process.

http://scipy.in/accounts/activate/{{ activation_key }}/

  If your email client doesn't support clicking the links, please copy
paste the above URL in your browser's address bar. If your email client
wraps the line and the activation URL is broken, then your activation
link can be constructed as follows:

http://scipy.in/accounts/activate/<your-activation-key>/

Your activation key being:
{{ activation_key }}

NOTE: Please activate your account within next 7 days i.e, before
November 18th, 2009. Otherwise your account will be removed from
our database.

Also, please note that there is a registration fee of Rs.200 for the
conference. But there is no registration fee for tutorials and sprint.
The registration fee for the conference can be paid at the registration
desk at the venue on the day of conference.

Very important: Please login and click on the registration link on the
left panel again. You will be requested for other details. Please fill
in the relevant details. This information is required for us to conduct
SciPy smoothly.

Optionally you can also click on "Edit Profile" link at the top and fill
in your bio.


--
 Thanks,
 SciPy Team
