Hello {{ name }},

You are getting this mail since you are registered for SciPy.in 2010
conference. As we gear up for the second version of SciPy.in, SciPy.2010,
we would like to update you certain information about the conference to
make your attendance for the conference smooth.

Firstly, we request you to check the website for latest updates. We will
keep updating the website as we set things up for you.

Secondly, the SciPy.in 2010 Conference on December 13th and 14th is now
being held at Indian School of Business(ISB) Hyderabad. The SciPy.in
2010 Tutorials on December 15-16 are being held at Mahindra Satyam
Learning World, Hyderabad and the last day of Sprints will be held
at IIIT-Hyderabad. For any details on how to reach the venue, please
contact the phone numbers given below in the contacts section of
this mail.

Important registration information
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

If you have not updated your registration with the information
listed below, please login to the website, http://scipy.in, navigate to
the Registration summary page from the left sidebar and click on edit
registration and update the information as soon as possible. We need
to have this information on file before Sunday:

1. If you are availing accommodation and have paid the fees, please let
   us know on what days you need the accommodation. You can do this by
   simply checking the box for each night from December 12th to 17th
   nights. The gender information is very important to us, to allot you
   rooms.
2. If you are bringing your laptop for the event, please update the
   registration form with the unique identification number of the laptop.
   The directions on how to find this number is on the form.
3. If you have already paid the fees online or by DD and you have not
   got a confirmation email about the same, please mail admin@scipy.in
   with your DD number or the NEFT transaction ID. Also it is safe to
   hold these numbers when you come for the conference on the first
   day. You may be asked for this number at the registration desk.

Printing the badges:
~~~~~~~~~~~~~~~~~~~~
If you login to the website, http://scipy.in and navigate to the
Registration page from the left sidebar menu, you will be able to
see a line with "Please get your badges for scipy.in 2010 here".
Please download this PDF and bring it with you for the conference.
This will help you steer clear of the security smoothly.

Other information:
~~~~~~~~~~~~~~~~~~
1. If you have not paid the registration fees yet, we have no way of
   getting the updates about your payment now. So we request you to pay
   the fees on the spot. You will also have to pay a late fee penalty of
   Rs. 250 along with the registration fees of Rs. 500, making it a total
   of Rs. 750.
2. If you have not paid the accommodation fees, please contact Anand Raj
   whose phone number is given below in the contacts section to know how
   to pay that fees and avail the accommodation facility at IIIT-Hyderabad.
   Please do this as soon as possible since the available accommodation is
   very limited.
3. Arrangements for traveling from IIIT-H to the Conference and Tutorials
   venue have been made available for all the participants who have taken
   accommodation fees from us. Please note that this facility is not
   available if you have not taken an accommodation from us.
4. We will update you about the information on how to reach IIIT-Hyderabad,
   ISB and Mahindra Satyam Learning World soon.

Contacts:
~~~~~~~~
1. Sunanda Varma - +91-9885586278
2. Vamsi Pullakavi - +91-9440845389
3. Bhanukiran Perabathini and/or Anand Raj - +91-8008939140

For any further queries regarding the website, registration or any
other information please feel free to contact me(Madhusudan C.S.) on:
+91-9987214220 or via email at admin@scipy.in.

Thanks and regards,
Scipy Team
