Hello {{ name }},
  The first edition of the Indian version of SciPy conference, dubbed
SciPy.in 2009 starts from tomorrow. The entire SciPy.in team is
looking forward to meet you all. Thanks for all the response and
enthusiasm you have shown towards the conference. 

  The team has updated the website with the final schedule for the
conference. The schedule is available at the URL:
http://scipy.in/talks-cfp/schedule/

  Please check the website for the schedule posted and stay tuned for
more updates. If you are twitter/indenti.ca savy, the id of the team
is fossee on both twitter and identi.ca. Also, please use the hashtags
#scipy #india or just #scipy. Please don't use #scipy.in because
twitter robs the dots ;-)

  The website is also updated with "How to reach the venue?" and
"Accommodation" details. Please check them.

  Last but not the least, any issue getting to the Techno park or any
help you want regarding SciPy.in 2009, please call me on this number:
+91-9987214220. My name is Madhusudan.C.S

--
 Thanks,
 SciPy.in team
