Dear {{ name }},

Thanks for helping to make the first annual SciPy India conference such
a great success!  There is one last thing you can contribute to this
conference.

We've decided to publish a conference proceedings this year.  Submitting
a paper is completely optional.  However, all submitted papers will be
peer-reviewed and the proceedings will only include accepted papers.

As a speaker at the 2009 conference, you are invited to submit a 5-8
page paper for the proceedings.  If you wish to submit a paper, you
will have around 6 weeks to write your paper.  The review process will
take another 6-8 weeks. Given this schedule the proceedings will be
published in April 2010.

We ask you to write the paper bearing in mind that the SciPy conference
is a multidisciplinary conference focused on sharing tools and
experience using the Python language in a scientific context. Readers
may not be familiar with the specifics of your technical field. To
maximize the impact of your contribution, you should put your work in
context and explain the techniques used.  If your paper is about a
library or an application, code samples and screenshots are welcomed;
however, the paper should not be a replacement for a user manual, but
rather a motivation and a presentation for the software. Finally,
please note that your paper should have a significant discussion of the
role Python played in your work.

Papers should be written using rst (restructured text) a popular markup
tool in the Python world.  We are still finalizing the review process,
but the review criteria will be something like this:

* Does the paper describe a well-formulated scientific or technical
  achievement?
* Is the content of the paper accessible to a computational scientist
  with no specific knowledge in the given field?
* Are the technical and scientific decisions well-motivated?
* Does the paper reference the software and scientific sources and
  material used?
* Are the code examples (if any) sound, clear, and well-written?
* Is the paper fit for publication in the SciPy proceedings?
  Improvements may be required, with or without a second review.

The deadline for submitting the papers will be in the beginning of
February. After this date, a review board will review your paper and
send you feedback to improve the paper, before the final acceptance.

We are still working out the details regarding publishing the
proceedings and will provide more information at the end of next week.
As soon as it is finalized, we will provide you with the following via
email:

* A detailed schedule of the various deadlines related to publication.
* The complete review criteria the proceedings reviewers will use.
* Detailed instructions on how to submit your papers.

Please respond to this email, letting us know whether you intend to
submit a paper. If you are submitting a paper, please begin doing
the following:

1. Look at the 2008 and 2009 SciPy proceedings to get an idea of what
   kinds of papers the reviewers will be looking for.
2. Begin writing your paper using restructured text.  For help using
   restructured text, see the following:
   http://docutils.sourceforge.net/docs/user/rst/quickstart.html
3. As always, don't hesitate to Let us know whether you have any
   questions of not.

Yours truly,

Madhusudan.C.S (SciPy India 2009 program chair)
FOSSEE team member
Mumbai, India

Jarrod Millman (SciPy India 2009 conference co-chair)
Managing Director, Helen Wills Neuroscience Institute
Director, Computational Infrastructure for Research Laboratories
University of California, Berkeley, USA

Prabhu Ramachandran (SciPy India 2009 conference co-chair)
Assistant Professor, Department of Aerospace Engineering
Principal Investigator, FOSSEE
Indian Institute of Technology, Bombay, India
