Hello {{ name }},

The SciPy.in team is glad that you have registered for SciPy.in 2010,
to be held at International Institute of Information Technology,
Hyderabad.

We would like to inform you that we have updated the information about
registration and accommodation fees and payment methods for the same,
on the website. Please find these details at
http://scipy.in/scipyin/2010/about/fees/

Due to some requests, we have decided to provide accommodation to a
limited number of out-station participants on a first-come-first-serve
basis. So, if you are an out-station participant and require
accommodation, please fill in your details and send us your fees as
early as possible.

Your registration for the conference is not confirmed until you pay the
registration fees. If you requested for accommodation, your
accommodation can be confirmed only after we receive your accommodation
fees, based on the availability. It is not confirmed, until you receive
a confirmation mail from our side.

Also, if you are bringing your own laptop for the conference, please
update the details of the same, in the registration form.

To update all or any of the information indicated above, follow the
steps below:

1. Login to your account on http://scipy.in. If you are unable to login
   to your account through which you previously registered please
   contact admin@scipy.in. We request you not to duplicate the
   registrations.

2. Click on "Registration" link on the left sidebar which takes you to
   your registration summary page.

3. Click on the "Edit Registration" link on that page which takes you
   to your original registration form you submitted.

4. Now you can see two new sections titled "Accommodation" and
   "Payment" below the "Demographics" section.

5. Please check the box if you need accommodation and select your
   gender and number of days for which you need the accommodation.

6. If you have already made the payment as instructed in the Fees page,
   please check the "Paid" field and provide additional information
   about your payment as mentioned on the registration page. Once
   the payment is received you will receive a confirmation email from
   the organizers.

7. In the laptop section you will see a new field called
   "Identification Number". If you are getting your own laptop select
   "Yes" in the laptop dropdown field and provide us with the Serial
   Number/Service Tag Number/Express Service Code of your laptop
   using which your laptop can be uniquely identified. This is usually
   present at the back of the laptop. Please DONOT give us the Laptop
   make and model number such as "Dell Inspiron 1545".

   For example, the unique number for Dell laptops may be service tag
   number like "8FRT7RDE"

8. Submit the registration form to update the details.

The registration and accommodation fees have to be paid as soon as
possible for us to confirm your registration for the conference. Please
note that there is a limit for the number of registrations. So Hurry!

Thanks and regards,
Scipy Team
