Hello {{ name }},
  The first edition of the Indian SciPy conference, SciPy.in 2009 is
fast approaching and we are all excited. The response for the confe-
rence so far has been overwhelming. Thank you for your enthusiasam
and making this possible. Some important details regarding SciPy.in.

1. If you have any queries regarding SciPy.in conference or the
SciPy.in website, please send a mail to admin@scipy.in.

2. If you had registered for SciPy.in 2009 long back and did not
activate your accounts as instructed in the Activation mail sent or
you haven't received the activation mail, please send a request to
admin@scipy.in to get the account activated. After activating the
account please follow in the instructions in point 4, below.

3. By now you would have known that there is a registration fee for
SciPy.in conference. If not here is the details. We are charging a
registration fee of Rs.200 for the conference only. However there
are no registration fees for Tutorials or Sprint. The registration
fee for the conference can be paid at the registration desk at the
venue on the day of conference.

4. If you have just created an account on http://scipy.in and have
not furnished further details about yourself till now, please do so
by logging in to the site and then click on the registration link on
the left panel again. You will be requested for other details. Please
fill in the relevant details. This information is required for us to
conduct SciPy smoothly. Without this, your registration is incomplete
and we are sorry to tell that it will be not be possible for us to
accommodate you for the conference. 

5. Optionally you can click on "Edit Profile" link at the top of the
page once you login and fill in your bio in that form.

6. As conference is fast approaching, we will start posting updates
through our site's update section. This section is not present yet,
but it will appear on the left panel soonish, stay tuned. In addition
to that if you are twitter-savy you can start following us on twitter
at "fossee".
 

--
 Thanks,
 SciPy Team
 