Hello {{ name }},
  The first edition of the Indian version of SciPy conference, dubbed
SciPy.in 2009 is fast approaching and we are all excited. The response
for the conference so far has been overwhelming. Thank you for your
enthusiasm and making this possible. Some important details regarding
SciPy.in 2009 are given below:

1. We got a few complaints before that some of them never received
the activation mail. But indeed we realized later that the mails
were sent to spam for some of them. So I am intentionally sending
this from my gmail ID. Please add admin@scipy.in to your trusted
contacts list. All further communication will be done through that
email ID.

2. If you have any queries regarding SciPy.in 2009 conference or
the SciPy.in website, please send a mail to admin@scipy.in.

3. If you had registered for SciPy.in 2009 long back and did not
activate your accounts as instructed in the Activation mail sent or
you haven't received the activation mail, please send a request to
admin@scipy.in to get the account activated. After activating the
account please follow the instructions in point 5, below.

4. By now you would have known that there is a registration fee for
SciPy.in conference. If not here are the details. We are charging a
registration fee of Rs.200 for the conference only. However there
are no registration fees for Tutorials or Sprint. The registration
fee for the conference can be paid at the registration desk at the
venue on the day of conference.

5. If you have just created an account on http://scipy.in and have
not furnished further details about yourself till now, please do so
by logging in to the site and then click on the registration link on
the left panel again. You will be requested for other details. Please
fill in the relevant details. This information is required for us to
conduct SciPy.in 2009 smoothly. Without this, your registration is
incomplete and we are sorry to tell you that it will be not be
possible for us to accommodate you for the conference.

6. Optionally you can click on "Edit Profile" link at the top of the
page once you login and fill in your bio in that form.

7. As conference is fast approaching, we will start posting updates
through our site's update section. This section is not present yet,
but it will appear on the left panel soonish, stay tuned. In addition
to that if you are twitter-savy you can start following us on twitter
at "fossee".


--
 Thanks,
 SciPy Team
