Hello {{ name }},
  We have already informed you that your talk titled
"{{ title }}"
for SciPy.in 2009 has been accepted. Hopefully, you have received
that mail. Congratulations!

  We have already arranged accommodation for you on a shared room
basis i.e you will be given a room in a good hotel which you will
be sharing with another speaker. So you need not worry about your
accommodation.

  Also, we will be sponsoring your train fare, upto 3-tier AC.
Suppose if you travel by any other means of transport, because of
your own reasons, you can still get the reimbursement of the
equivalent 3-tier AC ticket fare from your place of travel. Please
produce a copy of your tickets while getting the reimbursement.

  For any queries, poke us at admin@scipy.in.

--
 Thanks,
 SciPy Team
