Hello {{ name }},
  The first edition of the SciPy India conference, SciPy.in 2009
is fast approaching. We have some exciting news for you. We have
reviewed your submission titled:
"{{ title }}"

  Your talk has been accepted. Thank you for submitting the paper.
Please go ahead and start preparing for the talk right away. We will
put up the detailed schedule of the talks very soon.

  Also, more updates on the conference itself and other details will
be posted on the Update section of our website which will be available
through the left panel of the site soon. You can also follow us on
twitter. Our twitter id is "fossee".

  Last but not the least, really sorry for this delay in announcing
the accepted talks. For any queries, please send a mail to
admin@scipy.in

--
 Thanks,
 SciPy Team
