Dear {{name}},

We are glad to inform you that your talk titled "{{title}}" has been
accepted for presentation during SciPy.in 2010.  

Kindly send us a confirmation of your participation, to
admin@scipy.in, before the 21st of November, 2010.

We have put up a tentative schedule on our site[1].  Please note that
this is a tentative schedule and your talk may be rescheduled due to
some organizational issues.  We will inform you of it, in such a case.
Also, We also apologize for the delay in putting out the schedule and
any inconvenience that we may have caused.

Please note that you are also required to send a full paper for your
talk.  This, based upon a review, may appear in the conference
proceedings.  This should be sent to admin@scipy.in, on or before the
5th of December.

We are looking forward to have you at SciPy 2010.

Thanks,
SciPy.in Team

[1] http://scipy.in/scipyin/2010/talks-cfp/conference/ 

