Hello {{ name }},
  The first edition of the Indian version of SciPy conference, dubbed
SciPy.in 2009 is just 5 days away. Many of you have shown interests
in attending all three events:  conference, tutorials and sprint. But
some of you have been asking for a summary of what these individual
events will be.

   To make things clear, here is a short description of the three
individual events. The main SciPy.in 2009 Conference will contain
a number of presentations by both noted NumPy/SciPy developers and
speakers like Dr.Travis Oliphant, Christopher Burns, Dr. David
Cournapeau, Jarrod Millman, Dr.Prabhu Ramachandran as well as other
speakers who are using these tools.

   The two days of tutorials are aimed at people who want to learn to
use NumPy/SciPy for their scientific and numerical computation to
solve scientific and engineering problems in their domain. The
tutorials will introduce participants to both Python as well as the
scientific tool stack built on top of it. The tutorials require basic
computer use experience. Bringing your own laptop is helpful, but not
required.

   Finally, the most exciting part of SciPy.in 2009 are sprints.
Sprint provides you with an opportunity to contribute back to the
Python scientific computing community. As we know NumPy/SciPy are
open source tools and almost all open source softwares are driven by
the community. So for these tools to succeed we want help from the
community, i.e all of you people. This is an event where all of you
sit together along with the developers, hack on one of these tools.
If you are one of those guys who is interested in programming you can
contribute by writing code, fixing bugs and sending those patches. If
you are not interested in programming but more interested in writing,
you can help the community with documentation efforts, including but
not limited to writing documentation for NumPy/SciPy functions,
creating spoken tutorials.

   For the sprints it is required for you to bring your own laptops.
Your laptop should have a working build system, with NumPy and SciPy
built from source if you want to contribute by writing code. If you
are willing to contribute to the documentation efforts it is
sufficient to have a browser installed with your laptop having the
capability of connecting to internet. If you want to create spoken
tutorials be sure that you have a mic for recording and any software
that can capture your desktop, for example, "istanbul" on GNU/Linux.

--
 Thanks,
 SciPy.in Organizers
