{% extends "base.html" %}
{% block content %}
<h1 class="title">SciPy.in 2010 Conference Schedule</h1>

<h3 id="sec-1">A detailed list of talks will be announced after accepting the Call for Papers is complete. </h3>

<h2 id="sec-1">Day 1 </h2>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="right" /><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Time</th><th scope="col">Agenda</th><th scope="col">Speaker</th><th scope="col">Title</th></tr>
</thead>
<tbody>
<tr><td>9:00-9:30</td><td>Inauguration</td><td></td><td></td></tr>
<tr><td>9:30-10:30</td><td>Keynote - 1</td><td>Perry Greenfield</td><td><a href="#sec-3">How Python Slithered into Astronomy</a></td></tr>
<tr><td>10:30-10:45</td><td>Tea Break</td><td></td><td></td></tr>
<tr><td>10:45-13:15</td><td>Talks</td><td></td><td></td></tr>
<tr><td>13:15-14:15</td><td>Lunch</td><td></td><td></td></tr>
<tr><td>14:15-14:45</td><td>Lightning Talks</td><td></td><td></td></tr>
<tr><td>14:45-15:55</td><td>Talks</td><td></td><td></td></tr>
<tr><td>15:55-16:10</td><td>Tea Break</td><td></td><td></td></tr>
<tr><td>16:10-17:30</td><td>Talks</td><td></td><td></td></tr>
</tbody>
</table>

<h2 id="sec-2">Day 2 </h2>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col align="right" /><col align="left" /><col align="left" /><col align="left" />
</colgroup>
<thead>
<tr><th scope="col">Time</th><th scope="col">Agenda</th><th scope="col">Speaker</th><th scope="col">Title</th></tr>
</thead>
<tbody>
<tr><td>9:00-10:00</td><td>Invited Talk 1</td><td>John Hunter</td><td><a href="#sec-2">matplotlib: Beyond the simple plot</a></td></tr>
<tr><td>10:00-10:30</td><td>Talks</td><td></td><td></td></tr>
<tr><td>10:30-10:45</td><td>Tea Break</td><td></td><td></td></tr>
<tr><td>10:45-13:15</td><td>Talks</td><td></td><td></td></tr>
<tr><td>13:15-14:15</td><td>Lunch</td><td></td><td></td></tr>
<tr><td>14:15-14:45</td><td>Lightning Talks</td><td></td><td></td></tr>
<tr><td>14:45-15:55</td><td>Talks</td><td></td><td></td></tr>
<tr><td>15:55-16:10</td><td>Tea Break</td><td></td><td></td></tr>
<tr><td>16:10-17:30</td><td>Talks</td><td></td><td></td></tr>
</tbody>
</table>

<h2 id="sec-3">Keynote by Perry Greenfield </h2>

<p>Perry Greenfield
</p>

<h3 id="sec-3_1">Title </h3>

<p>How Python Slithered into Astronomy
</p>

<h3 id="sec-3_2">Talk/Paper Abstract </h3>

<p>
I will talk about how Python was used to solve our problems for the
Hubble Space Telescope. From humble beginnings as a glue element for
our legacy software, it has become a cornerstone of our scientific
software for HST and the next large space telescope, the James Webb
Space Telescope, as well as many other astronomy projects. The talk
will also cover some of the history of essential elements for
scientific Python and where future work is needed, and why Python is
so well suited for scientific software.
</p>

<h2 id="sec-4">Invited Talk 1 </h2>

<p>John Hunter
</p>

<h3 id="sec-4_1">Title </h3>

<p>matplotlib: Beyond the simple plot
</p>

<h3 id="sec-4_2">Talk/Paper Abstract: </h3>

<p>matplotlib, a python package for making sophisticated publication
quality 2D graphics, and some 3D, has long supported a wide variety
of basic plotting types such line graphs, bar charts, images,
spectral plots, and more.  In this talk, we will look at some of the
new features and performance enhancements in matplotlib as well as
some of the comparatively undiscovered features such as interacting
with your data and graphics, and animating plot elements with the
new animations API.  We will explore the performance with large
datasets utilizing the new path simplification algorithm, and
discuss areas where performance improvements are still needed.
Finally, we will demonstrate the new HTML5 backend, which in
combination with the new HTML5 IPython front-end under development,
will enable an interactive Python shell with interactive graphics in
a web browser.
</p>
{% endblock content %}
