{% extends "base.html" %}
{% block content %}
<h1>SciPy.in 2010 Conference Schedule</h1>

<h3>A detailed list of talks will be announced after accepting the Call for Papers is complete.</h3>
<h2 id="day1">Day 1 </h2>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col class="right" /><col class="left" />
</colgroup>
<thead>
<tr><th scope="col" class="right">Time</th><th scope="col" class="left">Talk</th></tr>
</thead>
<tbody>
<tr><td class="right">9:00-9:30</td><td class="left">Inauguration</td></tr>
<tr><td class="right">9:30-10:30</td><td class="left">Keynote - 1</td></tr>
<tr><td class="right">10:30-10:45</td><td class="left">Tea Break</td></tr>
<tr><td class="right">10:45-13:15</td><td class="left">Talks</td></tr>
<tr><td class="right">13:15-14:15</td><td class="left">Lunch</td></tr>
<tr><td class="right">14:15-14:45</td><td class="left">Lightning Talks</td></tr>
<tr><td class="right">14:45-15:55</td><td class="left">Talks</td></tr>
<tr><td class="right">15:55-16:10</td><td class="left">Tea-Break</td></tr>
<tr><td class="right">16:10-17:30</td><td class="left">Talks</td></tr>
</tbody>
</table>


<h2 id="day2">Day 2 </h2>


<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
<caption></caption>
<colgroup><col class="right" /><col class="left" />
</colgroup>
<thead>
<tr><th scope="col" class="right">Time</th><th scope="col" class="left">Talk</th></tr>
</thead>
<tbody>
<tr><td class="right">9:00-10:00</td><td class="left">Keynote - 2</td></tr>
<tr><td class="right">10:00-10:30</td><td class="left">Talks</td></tr>
<tr><td class="right">10:30-10:45</td><td class="left">Tea Break</td></tr>
<tr><td class="right">10:45-13:15</td><td class="left">Talks</td></tr>
<tr><td class="right">13:15-14:15</td><td class="left">Lunch</td></tr>
<tr><td class="right">14:15-14:45</td><td class="left">Lightning Talks</td></tr>
<tr><td class="right">14:45-15:55</td><td class="left">Talks</td></tr>
<tr><td class="right">15:55-16:10</td><td class="left">Tea-Break</td></tr>
<tr><td class="right">16:10-17:30</td><td class="left">Talks</td></tr>
</tbody>
</table>

{% endblock content %}
