{% extends "base.html" %}

{% block title %}Talk Videos{% endblock %}

{% block content %}
<h1>Videos for Download</h1>
<h2>First day talks </h2>
<p>
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-1.ogv">
    Part 1
  </a>
&nbsp;  
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-2.ogv">
   Part 2
  </a>
&nbsp;
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-3.ogv">
    Part 3
  </a>
  <!--  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-4.ogv">
  Part 4
  </a> -->
  <br />
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-5.ogv">
     Part 5
  </a>
&nbsp;
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-6.ogv">
      Part 6
  </a>
&nbsp;  
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-7.ogv">
      Part 7
  </a>
&nbsp;  
  <a href="http://www.fossee.in/sitefiles/Videos/SciPy_in_2010/first-day-part-8.ogv">
      Part 8
  </a>
<br />
<br />
<h3> This is an incomplete list we shall add more videos in the coming days. </h3>
</p><br />
{% endblock content %}
