{% extends "base.html" %}

{% block title %}Conference Talks - {% endblock %}

{% block content %}
<h1>SciPy.in 2009 Schedule</h1>
<strong>Talk type:</strong> Keynote: <img src="/img/keynote.png" alt="Keynote" /> 
General/Non-programmer: <img src="/img/general.png" alt="General" />
Beginner Programmer: <img src="/img/beginner.png" alt="Beginner" />
Intermediate Programmer: <img src="/img/intermediate.png" alt="Intermediate" />
Advanced Programmer: <img src="/img/beginner.png" alt="Advanced" />
<br /><br />
<table class="list-all-talks">
  <h2>Day 1, Saturday, December 12th, 2009</h2>
  <tr>
    <th class="speaker"><h4>Time</h4></th>
    <th class="speaker"><h4>Talk</h4>Speaker</th>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>8:30AM - 9:30AM</td>
    <td class="speaker" width="75%">Registration</td>
  </tr>                              
  <tr style="background-color: #90c9dc;">
    <td>9:30AM - 10:15AM</td>
    <td class="speaker" width="75%"><h4>Welcome</h4><hr />
       <h4>Presidential Address</h4><hr />
       <h4>Introduction to SciPy.in 2009</h4>Mr. Jarrod Millman<hr />
       <h4>Inaugaration</h4>Dr. Travis Oliphant<hr />
       <h4>Vote of thanks</h4>Dr. Prabhu Ramachandran
    </td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>10:15AM - 10:25AM</td>
    <td class="speaker" width="75%"><h4>Introduction to Travis Oliphant</h4>Mr. Jarrod Millman</td>
  </tr>
  <tr style="background-color: #ebc91e;">
    <td>10:25AM - 11:25AM</td>
    <td class="speaker" width="75%"><h4>Keynote: SciPy Beginnings and Applications</h4>Dr. Travis Oliphant</td>
  </tr>
  <tr>
    <td>11:25AM - 11:45AM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>11:45AM - 12:45PM</td>
    <td class="speaker" width="75%"><h4>Spoken Tutorials: Strategies for promoting open source software and
bridging digital divide                             
    </h4>Professor Kannan Moudgalya</td>
  </tr>
  <tr style="background-color: #f91828;">
    <td>12:45PM - 1:15PM</td>
    <td class="speaker" width="75%"><h4>A Python based SPH framework</h4>Chandrashekhar Kaushik</td>
  </tr>
  <tr>
    <td>11:25AM - 11:45AM</td>
    <td class="speaker" width="75%"><h4>Lunch Break</h4></td>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>2:15PM - 2:45PM</td>
    <td class="speaker" width="75%"><h4>Experimentation with python - why not do it the FOSS way?</h4>Praneeth Bodduluri &amp; Suryajith Chillara</td>
  </tr>
  <tr style="background-color: #33c910;">
    <td>2:45PM - 3:15PM</td>
    <td class="speaker" width="75%"><h4>Digital Image Processing with Python</h4>Debayan Banerjee</td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>3:15PM - 3:45PM</td>
    <td class="speaker" width="75%"><h4>3D object recognition from 2D view-aspects using similarity measures</h4>Abhishek Pathak</td>
  </tr>
  <tr>
    <td>3:25PM - 4:00PM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #f91828;">
    <td>4:00PM - 5:00PM</td>
    <td class="speaker" width="75%"><h4>Understanding GIL and How it affects your processing speed</h4>Senthil Kumaran</td>
  </tr>
  <tr style="background-color: #33c910;">
    <td>5:00PM - 5:30PM</td>
    <td class="speaker" width="75%"><h4>Language Detector for Python using n-gram</h4>Kumaran M</td>
  </tr>
  <tr>
    <td>5:30PM - 6:00PM</td>
    <td class="speaker" width="75%"><h4>General Break</h4></td>
  </tr>
  <tr  style="background-color: #90c9dc;">
    <td>6:00PM - 7:00PM</td>
    <td class="speaker" width="75%"><h4>Cultural events</h4></td>
  </tr>
  <tr>
    <td>7:00PM - 8:30PM</td>
    <td class="speaker" width="75%"><h4>Dinner</h4></td>
  </tr>
</table>
  <h2>Day 2, Saturday, December 13th, 2009</h2>
<table class="list-all-talks">
  <tr>
    <th class="speaker"><h4>Time</h4></th>
    <th class="speaker"><h4>Talk</h4>Speaker</th>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>9:30AM - 10:00AM</td>
    <td class="speaker" width="75%"><h4>Nipype</h4>Chris Burns</td>
  </tr>
  <tr style="background-color: #33c910;">
    <td>10:00AM - 10:45AM</td>
    <td class="speaker" width="75%"><h4>An update on the NumPy/SciPy projects &amp; a discussion of build and distribution systems</h4>David Cournapeau</td>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>10:45AM - 11:15AM</td>
    <td class="speaker" width="75%"><h4>A brief introduction to Sage</h4>Dr. Prabhu Ramachandran</td>
  </tr>
  <tr>
    <td>11:15AM - 11:30AM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>11:30AM - 12:00PM</td>
    <td class="speaker" width="75%"><h4>Finding candidate transcription factors involved in gene regulation</h4>Farhat Habib</td>
  </tr>
  <tr style="background-color: #33c910;">
    <td>12:00PM - 12:30PM</td>
    <td class="speaker" width="75%"><h4>Python and AVRs: Perfect way to make cheap and functional instrumentation</h4>Akshay Srinivasan</td>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>12:30PM -  1:00PM</td>
    <td class="speaker" width="75%"><h4>Brain computer</h4>Deepak Nath</td>
  </tr>
  <tr>
    <td>1:00PM - 2:00PM</td>
    <td class="speaker"><h4>Lunch Break</h4></td>
  </tr>
  <tr style="background-color: #33c910;">
    <td>2:00PM - 3:00PM</td>
    <td class="speaker" width="75%"><h4>Mayavi - Prabhu</h4>Dr. Prabhu Ramachandran</td>
  </tr>
  <tr style="background-color: #04c9cb;">
    <td>3:00PM - 3:30PM</td>
    <td class="speaker" width="75%"><h4>Chaco and Traits</h4>Dr. Travis Oliphant</td>
  </tr>
  <tr>
    <td>3:30PM - 3:45PM</td>
    <td class="speaker"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>3:45PM - 4:15PM</td>
    <td class="speaker" width="75%"><h4>SODAR data using fuzzy rule-base expert system package implemented in python</h4>Abhishek Pathak</td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>4:15PM - 4:45PM</td>
    <td class="speaker" width="75%"><h4>A graph matching approach to classification of SODAR data</h4>Abhishek Pathak</td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>4:45PM - 5:15PM</td>
    <td class="speaker" width="75%"><h4>The SciPy web and documentation tools</h4>Jarrod Millman</td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>5:15PM - 5:45PM</td>
    <td class="speaker" width="75%"><h4>The FOSSEE project</h4>Asokan Pichai</td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>5:45PM - 6:00PM</td>
    <td class="speaker" width="75%"><h4>Valedictory talk</h4>Dr. Prabhu Ramachandran</td>
  </tr>
</table>
{% endblock content %}
