{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="title">
    <h2><a name="date">Schedule</a></h2>
  </div>
  <div class="entry">
    <p>SciPy.in is a 6-day programme from December 12th to 17th, 2009, comprising 
of two days each of conference, tutorials and sprints. The tutorial will further
be constituted of two parallel tracks - one for the general public and one 
targeting teachers in collegiate education.</p>
    <table cellspacing="5">
      <tr> <td align=center>Date</td><td>Activity</td> </tr>
      <tr > <td align=right>Saturday, Dec. 12 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Sunday, Dec. 13 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Monday, Dec. 14 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Tuesday, Dec. 15 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Wednesday, Dec. 16 2009</td><td>Sprint</td> </tr>
      <tr> <td align=right>Thursday, Dec. 17 2009</td><td>Sprint</td> </tr>
    </table>
  </div>
<h3>The agenda will be put up on this site soon.</h3>
</div>
{% endblock content %}