{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="title">
    <h2><a name="date">Schedule</a></h2>
  </div>
  <div class="entry">
    <p>SciPy.in is a 6-day programme from December 12th to 17th, 2009, comprising 
of two days each of conference, tutorials and sprints. The tutorial will further
be constituted of two parallel tracks - one for the general public and one 
targeting teachers in collegiate education.</p>
    <strong>First Day, 12 Dec 09</strong>
    <table cellspacing="5">
      <tr> <td align=centre>Registration</td><td>8:30 am</td></tr>
      <tr> <td align=centre>Inaugural Ceremony</td>9:30 am<td></td></tr>
      <tr> <td align=centre>Cultural events</td><td>6:00 pm</td></tr>
    </table>
    <strong>Over all break up of activites</strong>

    <table cellspacing="5">
      <tr> <td align=center>Date</td><td>Activity</td> </tr>
      <tr > <td align=right>Saturday, Dec. 12 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Sunday, Dec. 13 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Monday, Dec. 14 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Tuesday, Dec. 15 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Wednesday, Dec. 16 2009</td><td>Sprint</td> </tr>
      <tr> <td align=right>Thursday, Dec. 17 2009</td><td>Sprint</td> </tr>
    </table>
<br />
<h3><a name="date">The tentative schedule and structure (focus areas) for all the days
being proposed is :</a></h3>

<ol>
  <li>Theme for Conference talks - "Scientific Python in Action" with
      respect to Application and Teaching</li>
  <li>The Teacher track of the tutorial (2 days)
    <ul>
    <li>Why Python for Scientific Computing?</li>
    <li>Basic and Intermediate Python</li>
    <li>Scientific Computing with Python</li>
    <li>Basic Sage and Sympy</li>
    </ul>
  </li>

  <li>General tutorial
    <ul>
      <li>Basic python (1/2 day)</li>
      <li>Intermediate Python (1/2 day)</li>
      <li>Python for Scientific Computing (Scipy, Numpy, Matplotlib, Mayavi) (1 day)</li>
    </ul>
  </li>
  <li>Sprints (2 days)</li>
</ol>
  </div>
</div>
{% endblock content %}