{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="title">
    <h2><a name="date">Dates</a></h2>
  </div>
  <div class="entry">
    <p>Its a 6-day programme between December 12 - 17, 2009, comprising of 2 days of conference, 2 days of tutorials with 2 parallel tracks (one specifically for teachers and the other for the general
public), and 2 days of Sprints.</p>
    <table cellspacing="5">
      <tr> <td align=center>Date</td><td>Activity</td> </tr>
      <tr > <td align=right>Saturday, Dec. 12 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Sunday, Dec. 13 2009</td><td>Conference</td> </tr>
      <tr> <td align=right>Monday, Dec. 14 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Tuesday, Dec. 15 2009</td><td>Tutorials</td> </tr>
      <tr> <td align=right>Wednesday, Dec. 16 2009</td><td>Sprint</td> </tr>
      <tr> <td align=right>Thursday, Dec. 17 2009</td><td>Sprint</td> </tr>
    </table>
  </div>
<h3>Details of the programme will be updated soon.</h3>
</div>
{% endblock content %}