{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="title">
    <h2><a name="date">Speakers</a></h2>
  </div>
  <div class="entry">
    <h3>The following speakers will be invited.</h3>
    <p>Travis Oliphant (Keynote) - He is the architect of NumPy and author of
       the definitive guide to NumPy. He was formerly a member of faculty at
       BYU and is currently the Vice-President of Enthought Inc. (USA).</p>

    <p>Fernando Perez - He is the architect of IPython (Interactive Python)
       and developer of NiPy (Neuro-Imaging for Python). He is currently with
       the Neuroscience Institute, UC Berkeley (USA).</p>

    <p>Jarrod Millman - He is a developer for NiPy and is the director of
       computing for UC Berkeley's Neuroscience Institute, where he leads the
       Computational Infrastructure for Research Laboratories (CIRL) group.</p>

    <p>Stéfan van der Walt - He is a developer for Scipy and Numpy. He is
       currently a Professor of Applied Mathematics at the University of
       Stellenbosch (South Africa)</p>

    <p>David Cournapeau - He is a SciPy developer and is currently a PhD
       student in Signal Processing at Kyoto University, Japan.</p>

    <p>Gaël Varoquaux - He is a developer of Mayavi and is currently with the
       Department of Applied Mathematics and Neuroscience, Neurospin, CEA -
       INRIA Saclay (France)</p>

    <p>Prabhu Ramachandran - He is the architect of Mayavi (3D visualization
       in Python) and is currently a faculty member at the Department of
       Aerospace Engineering, Indian Institute of Technology Bombay, India.</p>

    <p>Asokan Pichai - He is a trainer and mentor for various companies and is
       currently a consultant for the FOSSEE project.</p>
  </div>
</div>
{% endblock content %}