{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="title">
    <h2><a name="date">Speakers</a></h2>
  </div>
  <div class="entry">
    <h3>The following speakers are invited.</h3>
    <div id="speaker"><div id="speakerphoto"><img alt="Travis Oliphant"
        src="/static/img/hs_travis.jpg" height=155 width=200 /></div>
    <div id="speakerinfo"><h3>Travis Oliphant (Keynote)</h3> 
       He is the architect of NumPy and author of the definitive guide to
       NumPy. He was formerly a member of faculty at BYU and is currently
       the President of Enthought Inc. (USA).</div>
    <br /></div>
    <div style="clear: both;"/>
    <div id="speaker">
    <div id="speakerphoto"><img alt="Jarrod Millman"
        src="/static/img/jarrod.png" /></div>
       <div id="speakerinfo"><h3>Jarrod Millman</h3>
       He is on the SciPy steering committee and an active
       contributor to both the NumPy and SciPy projects.  He is the acting
       managing director and the director of computing for UC Berkeley's
       Neuroscience Institute, where he helped found the Neuroimaging in
       Python (NIPY) project.
    </div></div>
    <div style="clear: both;"/>
    <br /><br />

    <div id="speaker">
    <div id="speakerphoto"><img alt="David Cournapeau"
        src="" /></div>
       <div id="speakerinfo"><h3>David Cournapeau</h3>
       He is one of the lead NumPy and SciPy developers
       and is just received his PhD in Signal Processing at Kyoto University,
       Japan.
    </div></div>
    <div style="clear: both;"/>
    <br /><br />

    <div id="speaker">
    <div id="speakerphoto"><img alt="Christopher Burns"
        src="/static/img/ChristopherBurns.jpg" height=190 width=200 /></div>
       <div id="speakerinfo"><h3>Christopher Burns</h3>
       He is one of the lead developers on the
       Neuroimaging in Python project (NiPy).  He is a software engineer in
       the Computational Infrastructure for Research Laboratories group at UC
       Berkeley's Neuroscience Institute and a regular contributor to the
       NumPy/SciPy projects.
    </div></div>
    <div style="clear: both;"/>
    <br /><br />

    <div id="speaker">
    <div id="speakerphoto"><img alt="Prabhu Ramachandran"
        src="/static/img/prabhu_ramachandran.jpg" /></div>
       <div id="speakerinfo"><h3>Prabhu Ramachandran</h3>
       He is the architect of Mayavi (3D visualization in Python) and is
       currently a faculty member at the Department of Aerospace Engineering,
       Indian Institute of Technology Bombay, India.
    </div></div>
    <div style="clear: both;"/>
    <br /><br />

    <div id="speaker">
    <div id="speakerphoto"><img alt="Asokan Pichai"
        src="/static/img/pasokan.jpg" height=119 width=200 /></div>
       <div id="speakerinfo"><h3>Asokan Pichai</h3>
       Mr. Asokan Pichai is the consultant/Project manager for the Python
       group of the FOSSEE project. He is also the principal consultant at
       Merquri consulting. He has immense experience in the field of training
       and instructional design. He has been a director at CIBS and has been
       the CEO/CTO of various firms such as MinVesta Infotech Ltd., Arkin
       Systems and Future Focus Infotech.
    </div></div>
    <div style="clear: both;"/>
  </div>
</div>
{% endblock content %}