{% extends "base.html" %}
{% block content %}
<h1>SciPy.in 2009 Sprint Schedule</h1>
<h2><strong>Plan for the sprint is present here: </strong><br /></h2>
<a href="http://docs.google.com/Doc?docid=0AS2YT-YIi2aKZGM4OWt4OHNfNGQ0ZjZxc2No&hl=en">http://docs.google.com/Doc?docid=0AS2YT-YIi2aKZGM4OWt4OHNfNGQ0ZjZxc2No&hl=en</a>
<br /><br />
<h2>Wireless WEP hex key-phrase for access point "space": 8a61fcbcf9</h2>
<br />
<h2>Day 5, Wednesday, December 16th and</h2>
<h2>Day 6, Thursday, December 17th, 2009</h2>
<table class="list-all-talks">
  <tr>
    <th class="speaker"><h4>Time</h4></th>
    <th class="speaker"><h4>Event</h4></th>
    <th class="speaker"><h4>Topics</h4></th>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>9:30AM onwards</td>
    <td class="speaker" width="25%"><h4>Sprint</h4></td>
    <td>Contribute to, hack on, develop, fix bugs of scipy/numpy</td>
  </tr>
</table>
{% endblock content %}