{% extends "base.html" %}
{% block content %}
<h1>SciPy.in 2009: Tutorial Schedule</h1>
<h2>Wireless WEP hex key-phrase for access point "space": 8a61fcbcf9</h2>
<br /> 
<strong>Session type:</strong>
Support: <img src="/img/intermediate.png" alt="Support" />
Hands-on session: <img src="/img/general.png" alt="Handson" />
Exercises: <img src="/img/keynote.png" alt="Exercises" />
Quiz: <img src="/img/advanced.png" alt="Quiz" />
<table class="list-all-talks">
  <h2>Day 3, Monday, December 14th, 2009</h2>
  <tr>
    <th class="speaker"><h4>Time</h4></th>
    <th class="speaker"><h4>Topic</h4></th>
  </tr>
  <tr style="background-color: #33c910;">
    <td>8:30AM - 9:20AM</td>
    <td class="speaker" width="75%">Support: Installation of packages for tutorials</td>
  </tr>                              
  <tr style="background-color: #90c9dc;">
    <td>9:30AM - 10:30AM</td>
    <td class="speaker" width="75%"><h4>Interactive Plotting</h4>
    </td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>10:35AM - 11:35AM</td>
    <td class="speaker" width="75%"><h4>Plotting Experimental Data</h4></td>
  </tr>
  <tr>
    <td>11:35AM - 11:50AM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>11:50AM - 12:50AM</td>
    <td class="speaker" width="75%"><h4>Statistics</h4>
    </td>
  </tr>
  <tr>
    <td>12:50AM - 1:45PM</td>
    <td class="speaker" width="75%"><h4>Lunch Break</h4></td>
  </tr>
  <tr style="background-color: #f91828;">
    <td>1:45PM - 2:05PM</td>
    <td class="speaker" width="75%"><h4>Quiz 1</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>2:05PM - 3:05PM</td>
    <td class="speaker" width="75%"><h4>Matrices &amp; Least Square Fit</h4>
    </td>
  </tr>
    <tr style="background-color: #ebc91e;">
    <td>3:10PM - 4:10PM</td>
    <td class="speaker" width="75%"><h4>Exercises</h4>
    </td>
  </tr>
  <tr>
    <td>4:10PM - 4:25PM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>4:30PM - 5:30PM</td>
    <td class="speaker" width="75%"><h4>Solving Equations &amp; ODEs</h4>
    </td>
  </tr>
  <tr style="background-color: #f91828;">
    <td>5:30PM - 5:45PM</td>
    <td class="speaker" width="75%"><h4>Quiz 2</h4></td>
  </tr>
</table>
<br /><br />
<h2>Day 4, Tuesday, December 15th, 2009</h2>
<table class="list-all-talks">
  <tr>
    <th class="speaker"><h4>Time</h4></th>
    <th class="speaker"><h4>Topic</h4></th>
  </tr>                             
  <tr style="background-color: #90c9dc;">
    <td>9:00AM - 10:00AM</td>
    <td class="speaker" width="75%"><h4>Python Language: Basics</h4>
    </td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>10:05AM - 11:05AM</td>
    <td class="speaker" width="75%"><h4>Python Language: Data structures &amp; functions</h4></td>
  </tr>
  <tr>
    <td>11:05AM - 11:20AM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>11:20AM - 12:20AM</td>
    <td class="speaker" width="75%"><h4>Python Language: Functions, modules &amp; objects</h4>
    </td>
  </tr>
  <tr style="background-color: #90c9dc;">
    <td>12:25AM - 1:25PM</td>
    <td class="speaker" width="75%"><h4>Python Development</h4>
    </td>
  </tr>  
  <tr>
    <td>1:25PM - 2:20PM</td>
    <td class="speaker" width="75%"><h4>Lunch Break</h4></td>
  </tr>
  <tr style="background-color: #f91828;">
    <td>2:20PM - 2:40PM</td>
    <td class="speaker" width="75%"><h4>Quiz 3</h4></td>
  </tr>
  <tr style="background-color: #ebc91e;">
    <td>2:40PM - 3:40PM</td>
    <td class="speaker" width="75%"><h4>Exercises</h4>
    </td>
  </tr>
  <tr>
    <td>3:40PM - 4:00PM</td>
    <td class="speaker" width="75%"><h4>Tea Break</h4></td>
  </tr>
  <tr style="background-color: #ebc91e;">
    <td>4:00PM - 5:00PM</td>
    <td class="speaker" width="75%"><h4>Exercises contd ...</h4>
    </td>
  </tr>
</table>
{% endblock content %}